<%
  content_for :page_title, construct_page_title('Deposit')
  content_for :page_main_class, 'deposit-landing-page'
%>

<h1 class="svg-title">
  <svg xmlns="http://www.w3.org/2000/svg" version="1.1" id="deposit-title" viewBox="0 0 303 60" preserveAspectRatio="xMinYMin meet">
    <path fill="#092041" d="M22.712,49.567V10.565h13.801c11.901,0,18.101,6.05,18.101,19.501c0,13.45-6.2,19.501-18.101,19.501H22.712z M36.513,43.067c8.101,0,10.951-5.051,10.951-13.001c0-7.951-2.85-13.001-10.951-13.001h-6.8v26.002H36.513z"/>
    <path fill="#092041" d="M93.563,10.565v6.5H72.912v9.301h18.301v6.5H72.912v10.201h21.601v6.5H65.912V10.565H93.563z"/>
    <path fill="#092041" d="M113.962,49.567h-7V10.565h14.801c6.5,0,13.351,2.4,13.351,12.151c0,9.801-6.75,12.2-13.301,12.2h-7.851V49.567z M122.312,17.065h-8.351v11.301h8.351c2.4,0,5.6-0.7,5.6-5.65S124.712,17.065,122.312,17.065z"/>
    <path fill="#092041" d="M144.011,30.066c0-12.301,5.15-20.202,17.501-20.202c12.351,0,17.501,7.901,17.501,20.202s-5.15,20.201-17.501,20.201C149.162,50.268,144.011,42.367,144.011,30.066z M151.112,30.066c0,7.4,2.05,13.7,10.401,13.7c8.35,0,10.351-6.3,10.351-13.7s-2-13.701-10.351-13.701C153.162,16.365,151.112,22.666,151.112,30.066z"/>
    <path fill="#092041" d="M189.911,38.316l7.101-0.75c0.55,4.551,3.35,6.2,8.65,6.2c3.9-0.05,8.301-1.5,8.301-5.8c0-3.4-2.05-4.851-8.5-5.45c-7.15-0.601-14.151-2.45-14.201-10.801c-0.05-8.201,6.5-11.851,14.051-11.851c10.201,0,14.851,4.5,15.551,11.901l-7.101,0.75c-0.55-4.601-3.15-6.15-8.451-6.15c-2.65,0.05-7.05,1-7.05,5.4c0.05,2.7,1.55,3.851,7.551,4.45c9.55,0.851,15.051,2.601,15.101,11.751c0.05,8.7-7.5,12.301-15.251,12.301C195.112,50.268,190.711,46.067,189.911,38.316z"/>
    <path fill="#092041" d="M240.711,49.567h-7V10.565h7V49.567z"/>
    <path fill="#092041" d="M270.361,49.567h-7V17.065h-11.351v-6.5h29.701v6.5h-11.351V49.567z"/>
    <text transform="matrix(5.7 0 0 3.1 17 49)" fill="transparent">DEPOSIT</text>
  </svg>
</h1>
<h2 class="call-to-action">What are you uploading?</h2>

<div class="container work-type-listing">
  <ul class="classify-work">
    <% classify_concern.all_curation_concern_classes.each do |klass| %>
      <% if can? :create, klass %>
        <li class="work-type">
          <h3 class="title"><%= klass.human_readable_type %></h3>
          <p class="short-description"><%= klass.human_readable_short_description %></p>
          <%= link_to 'Add New',
            new_polymorphic_path([:curation_concern, klass]),
            class: "add-button btn btn-primary #{dom_class(klass, 'add_new')}"
          %>
        </li>
      <% end %>
    <% end %>
    <% classify_concern.upcoming_concerns.each do |name, description| %>
      <li class="upcoming work-type">
        <h3 class="title"><%= name %></h3>
        <p class="short-description"><%= description %></p>
        <%= link_to 'Add New',
          'javascript:void(null);',
          class: "add-button btn btn-primary disabled"
        %>
      </li>
    <%- end -%>
    <li class="work-type placeholder" aria-hidden="true"></li>
    <li class="work-type placeholder" aria-hidden="true"></li>
    <li class="work-type placeholder" aria-hidden="true"></li>
  </ul>
</div>
