<% content_for :page_title, construct_page_title('Show Authority Groups') %>
<% content_for :page_header do %>
  <ul class="breadcrumb">
    <li><%= link_to 'CurateND', root_path %> <span class="divider">/</span></li>
    <li><%= link_to 'Authority Groups List', admin_authority_groups_path %> <span class="divider">/</span></li>
    <li><span class="active"><%= link_to 'Show Group', admin_authority_group_path(@admin_authority_group) %></span></li>
  </ul>

  <h2>Authority Group: <%= @admin_authority_group.auth_group_name %></h2>
<% end %>

<%= link_to 'Edit Authority Group', edit_admin_authority_group_path(@admin_authority_group), class: 'btn btn-success' %>
<% if @admin_authority_group.destroyable? %>
  <%= link_to 'Delete Authority Group', @admin_authority_group, method: :delete, class: "btn btn-danger" %>
<% end %>

<dl class="attributes">
  <dt>Description:</dt>
  <dd><%= @admin_authority_group.description %></dd>
  <dt>Controlling Class Name:</dt>
  <dd><%= @admin_authority_group.controlling_class_name %></dd>
  <dt>Currently Authorized Users:</dt>
  <dd><%= @admin_authority_group.authorized_usernames %></dd>
  <br />
  <dt>Associated Group:</dt>
  <% associated_group = @admin_authority_group.associated_group %>
  <% if associated_group %>
    <dd>Group ID: <%= associated_group.pid %></dd>
    <dd><%= link_to 'Edit Associated Group', edit_hydramata_group_path(associated_group), class: 'btn btn-success btn-small'%><%= link_to 'Authorize All Users Below', admin_refresh_path(@admin_authority_group), class: 'btn btn-warning btn-small', data: {confirm: 'Are you sure you want to use this group to authorize users?'}  %></dd>
    <dd>Name: <%= associated_group.title %></dd>
    <dd>Description: <%= associated_group.description %></dd>
    <%= render partial: 'associated_group_members' %>
  <% else %>
    <dd><%= link_to 'Create Associated Group', new_hydramata_group_path(title: @admin_authority_group.auth_group_name, description: @admin_authority_group.description), class: 'btn btn-primary btn-small' %></dd>
  <% end %>

  <br />
  <% list = @admin_authority_group.formatted_initial_list %>
    <dt>Initial Authorized Users:</dt>
    <% if !list.empty? %>
      <dd><%= @admin_authority_group.formatted_initial_list %></dd>
    <% else %>
      <dd>No users found</dd>
    <% end %>
    <dd><%= link_to 'Re-Initialize', admin_reinitialize_path(@admin_authority_group), class: 'btn btn-danger btn-small', data: {confirm: 'Are you sure you want to reset to the initial authorized users data?'} %></dd>
</dl>
