<% content_for :main_column_class, 'col-sm-8 offset-sm-2' %>
<% content_for :page_title, construct_page_title("#{t('sufia.product_name')} has encountered a problem (Error ##{status})") %>
<% content_for :page_header do %>
  <h1 class="center"><%= t('sufia.product_name') %> has encountered a problem.</h1>
<% end %>
<p>
  This could be due to:
  <ul>
    <li>An internal process is not working correctly</li>
    <li>The connection has been interrupted in some manner</li>
    <li>The request timed out. For example a large file has been selected for upload/download</li>
  </ul>
</p>

<p>Please help us to better understand what you were doing so that we can provide you with a better user experience in the future.</p>

<article class="description">
  <%= simple_form_for(@help_request) do |f| %>
    <fieldset class="required with-side-padding">
      <legend>Please submit a help request to give us more information about what is going on.</legend>
      <%= f.input :javascript_enabled, as: 'hidden' %>
      <%= f.input :email, input_html: { class: 'string', rows: '1' } %>
      <%= f.input :how_can_we_help_you, as: 'text', input_html: { class: 'input-xxxlarge', rows: '10' } %>
    </fieldset>

    <div class="form-actions">
      <%= f.submit "Let Us Know", class: 'btn btn-primary' %> <a href="/" id="never-mind" class="btn btn-link" data-dismiss="modal"> never mind</a>
    </div>
  <% end %>
</article>
