<% content_for :page_title, 'CurateND' %>
<section id="features">
  <div class="dark-blue">
    <h1>Curating Notre Dame&rsquo;s Research and Scholarship for Study throughout Time</h1>
  </div>
  <div class="angle-wrapper">
    <div class="angle angle-bottom"></div>
  </div>

  <div id="manage" class="feature">
    <article class="container">
      <div class="row">
        <div class="span12">
          <h2>Manage</h2>
        </div>
      </div>

      <div class="row">
        <div class="span6">
          <ul class="feature-questions">
            <li>Are you required to have a data management plan?</li>
            <li>Do you work with a team or need to regulate levels of access?</li>
            <li>Do you want to link your work to supplemental materials of multiple formats?</li>
            <li>Do you want to curate and elevate your entire portfolio of work?</li>
          </ul>
        </div>
        <div class="span6">
          <p>
            CurateND is a research portal that allows for the management of your research portfolio on several levels.
            In response to funding mandates, portal features and our related <%= link_to 'Center for Digital Scholarship', 'http://library.nd.edu/cds/' %> services offer streamlined consultation for the creation of data management plans.
            Upon deposit, you can select different access privileges and embargo periods that allow you to share research results with groups and regulate access to your works while in progress.
          </p>
          <p>
            In the digital age, research &ldquo;data&rdquo; comes in multiple formats, often within a single published work.
            CurateND is designed to accept, manage and securely preserve files of any format including: datasets, articles, images, video, whitepapers, presentations, and more.
            And, you can deposit and illuminate as much of your portfolio of work and supplemental materials as you choose.
          </p>
          <p class="emphatic-action-wrapper">
            <%= link_to get_started_path, class: 'btn btn-primary btn-large emphatic-action with-chevron' do %>
              Get Started
              <span class="chevron-wrapper">
                <svg xmlns="http://www.w3.org/2000/svg" version="1.1" class="chevron" viewBox="0 0 54 54" preserveAspectRatio="xMinYMin meet">
                  <style type="text/css">polygon { fill: #FFF; }</style>
                  <polygon points="0,0 18,0 27,27 18,54 0,54 9,27"/>
                  <polygon points="27,0 45,0 54,27 45,54 27,54 36,27"/>
                </svg>
              </span>
            <% end %>
          </p>
        </div>
      </div>
    </article>
  </div>

  <div class="angle-wrapper">
    <div class="angle angle-top"></div>
  </div>
  <div id="preserve" class="feature dark-blue">
    <article class="container">
      <div class="row">
        <div class="span12">
          <h2>Preserve</h2>
        </div>
      </div>

      <div class="row">
        <div class="span6">
          <ul class="feature-questions">
            <li>Does your funding mandate a plan for long-term preservation?</li>
            <li>Do you want assurances that you can locate your research and related works in the future?</li>
            <li>Do you want to preserve conference proceedings?</li>
            <li>Is it important to steward your research for future scientists and scholars?</li>
          </ul>
        </div>
        <div class="span6">
          <p>
            CurateND employs preservation standards that meet the requirements of funding agencies for long-term preservation and curation over the life-cycle of research.
            Whether or not a project is grant-funded, our preservation standards will give you security and peace of mind that you will find your work in the future and it will be guarded against corruption.
          </p>
          <p>
            And, should the need arise, the platform will migrate files to new formats for continued access and usability.
            All this is to ensure that your work and the work of your students is preserved for future study throughout time.
          </p>
          <p class="emphatic-action-wrapper">
            <%= link_to get_started_path, class: 'btn btn-primary btn-large emphatic-action with-chevron' do %>
              Get Started
              <span class="chevron-wrapper">
                <svg xmlns="http://www.w3.org/2000/svg" version="1.1" class="chevron" viewBox="0 0 54 54" preserveAspectRatio="xMinYMin meet">
                  <style type="text/css">polygon { fill: #FFF; }</style>
                  <polygon points="0,0 18,0 27,27 18,54 0,54 9,27"/>
                  <polygon points="27,0 45,0 54,27 45,54 27,54 36,27"/>
                </svg>
              </span>
            <% end %>
          </p>
        </div>
      </div>
    </article>
  </div>
  <div class="angle-wrapper">
    <div class="angle angle-bottom"></div>
  </div>

  <div id="discover" class="feature">
    <article class="container">
      <div class="row">
        <div class="span12">
          <h2>Discover</h2>
        </div>
      </div>

      <div class="row">
        <div class="span6">
          <ul class="feature-questions">
            <li>Do you want help to illuminate your published research globally?</li>
            <li>Are you interested in increasing your discoverability and citations?</li>
            <li>Do you want to share working papers or negative results?</li>
            <li>Do you use non-traditional publishing platforms?</li>
          </ul>
        </div>
        <div class="span6">
          <p>
            CurateND was built to provide a first-class search experience through the portal.
            And, with well-structured metadata and optimization, we help ensure that publicly available content is listed prominently by outside search engines.
            Global access through one main platform increases discoverability and allows central tracking for downloads and citations at the individual, department, college or university level.
          </p>
          <p>
            If you have other working papers and research results important to share with your research community around the world, CurateND is a perfect solution.
            And, if your research involves multi-media and non-traditional publishing platforms, CurateND will feature these works and seamlessly link to all related materials.
          </p>
          <p class="emphatic-action-wrapper">
            <%= link_to catalog_index_path, class: 'btn btn-primary btn-large emphatic-action with-chevron' do %>
              Get Started
              <span class="chevron-wrapper">
                <svg xmlns="http://www.w3.org/2000/svg" version="1.1" class="chevron" viewBox="0 0 54 54" preserveAspectRatio="xMinYMin meet">
                  <style type="text/css">polygon { fill: #FFF; }</style>
                  <polygon points="0,0 18,0 27,27 18,54 0,54 9,27"/>
                  <polygon points="27,0 45,0 54,27 45,54 27,54 36,27"/>
                </svg>
              </span>
            <% end %>
          </p>
        </div>
      </div>
    </article>
  </div>

  <div class="angle-wrapper">
    <div class="angle angle-top"></div>
  </div>
  <div id="share" class="feature dark-blue">
    <article class="container">
      <div class="row">
        <div class="span12">
          <h2>Share</h2>
        </div>
      </div>

      <div class="row">
        <div class="span6">
          <ul class="feature-questions">
            <li>Are you required to share your research, data and related works?</li>
            <li>Do you need to create a DOI for citing and sharing your data?</li>
            <li>Do you have images, posters, presentations, collections, white papers or datasets that you want to share?</li>
            <li>Do you want to highlight the work of graduate and undergraduate research?</li>
          </ul>
        </div>
        <div class="span6">
          <p>
            For those with grant-funded research and data sharing mandates, CurateND puts your front-end data management plan into action.
            You have the ability (rights not withstanding) to share content at any level&mdash;from restricted access, to lab or campus access, to open access for the world. 
          </p>
          <p>
            CurateND can create a <a href="http://simple.wikipedia.org/wiki/Digital_object_identifier"><abbr title="Digital Object Identifier">DOI</abbr></a> on demand, linking to works on your behalf.
            A <a href="http://simple.wikipedia.org/wiki/Digital_object_identifier"><abbr title="Digital Object Identifier">DOI</abbr></a> is a convenient (and often required) way to cite your data in publications and it makes it easy for others to cite your work.
            You can share all of the associated work and multiple data formats that are not supported by the publishing platform.
          <p>
            It is equally valuable for featuring the important contributions of undergraduate and graduate research across all disciplines.
            All members of the campus community can create an account and contribute to intellectual fabric that is Notre Dame.
          </p>
          <p class="emphatic-action-wrapper">
            <%= link_to get_started_path, class: 'btn btn-primary btn-large emphatic-action with-chevron' do %>
              Get Started
              <span class="chevron-wrapper">
                <svg xmlns="http://www.w3.org/2000/svg" version="1.1" class="chevron" viewBox="0 0 54 54" preserveAspectRatio="xMinYMin meet">
                  <style type="text/css">polygon { fill: #FFF; }</style>
                  <polygon points="0,0 18,0 27,27 18,54 0,54 9,27"/>
                  <polygon points="27,0 45,0 54,27 45,54 27,54 36,27"/>
                </svg>
              </span>
            <% end %>
          </p>
        </div>
      </div>
    </article>
  </div>
  <div class="angle-wrapper">
    <div class="angle angle-bottom"></div>
  </div>

</section>
