<% content_for :main_column_class, 'col-sm-8 offset-sm-2' %>
<% content_for :page_title, construct_page_title('Content Withdrawal', 'Policies') %>
<% content_for :page_header do %>
<div class="policy-header">
  <h1 class="center">Policy on Deposit and Access Fees</h1>
  <nav class="return-to-policy-list">
    <%= link_to 'Return to Policies Listing', policies_path %>
  </nav>
</div>
<% end %>

<article class="policy">
  <p class="effective-date">Effective Date: <time datetime="2016-12-19">December 19, 2016</time></p>

  <p>CurateND is intended to provide ongoing access to and preservation of content deposited in the repository.  As a member of a global family of institutional repositories, CurateND also aspires to provide open access to its content.</p>

  <p>There are no fees associated with accessing or depositing content in CurateND. Content that is deposited in CurateND is available without charge, while upholding the appropriate access restrictions indicated by the depositor. However, some records in CurateND link to externally hosted or enhanced quality resources which may require access fees. Any content submitted to CurateND for deposit must satisfy the <%= link_to 'CurateND Content in Scope Policy', named_policy_path('content') %> and will be reviewed according to our <%= link_to 'Retention and Review Policy', named_policy_path('retention-review') %>. Support outlined within the <%= link_to 'Content Format Migration Policy', named_policy_path('preservation-migration') %> and <%= link_to 'Retention and Review Policy', named_policy_path('retention-review') %>, such as preservation and access to content and/or migrated to different formats, will be provided at no charge.</p>
</article>
