<%= curation_concern_attribute_to_formatted_text(curation_concern, :abstract, 'Abstract') %>

<table class="table table-striped <%= dom_class(curation_concern) %> attributes">
  <caption class="table-heading"><h2>Attributes</h2></caption>
  <thead>
    <tr><th>Attribute Name</th><th>Values</th></tr>
  </thead>
  <tbody>

  <%= curation_concern_attribute_to_html(curation_concern, :type,                       'Document Type') %>

  <%= curation_concern_attribute_to_html(curation_concern, :alternate_title,            'Alternate Title') %>
  <%= curation_concern_attribute_to_html(curation_concern, :author,                     'Author') %>
  <%= curation_concern_attribute_to_html(curation_concern, :coauthor,                   'Coauthor') %>
  <%= curation_concern_attribute_to_html(curation_concern, :editor,                     'Editor') %>
  <%= curation_concern_attribute_to_html(curation_concern, :contributing_editor,        'Contributing Editor') %>
  <%= curation_concern_attribute_to_html(curation_concern, :artist,                     'Artist') %>
  <%= curation_concern_attribute_to_html(curation_concern, :contributing_artist,        'Contributing Artist') %>
  <%= curation_concern_attribute_to_html(curation_concern, :illustrator,                'Illustrator') %>
  <%= curation_concern_attribute_to_html(curation_concern, :contributing_illustrator,   'Contributing Illustrator') %>
  <%= curation_concern_attribute_to_html(curation_concern, :photographer,               'Photographer') %>
  <%= curation_concern_attribute_to_html(curation_concern, :contributing_photographer,  'Contributing Photographer') %>
  <%= curation_concern_attribute_to_html(curation_concern, :creator,                    'Creator') %>
  <%= curation_concern_attribute_to_html(curation_concern, :contributor,                'Contributor') %>
  <%= curation_concern_attribute_to_html(curation_concern, :date_created,               'Date Created') %>
  <%= curation_concern_attribute_to_html(curation_concern, :copyright_date,             'Copyright Date') %>
  <%= curation_concern_attribute_to_html(curation_concern, :table_of_contents,          'Table of Contents') %>
  <%= curation_concern_attribute_to_html(curation_concern, :extent,                     'Extent') %>
  <%= curation_concern_attribute_to_html(curation_concern, :isbn,                       'ISBN') %>
  <%= curation_concern_attribute_to_html(curation_concern, :publisher,                  'Publisher') %>
  <%= curation_concern_attribute_to_html(curation_concern, :publication_date,           'Publication Date') %>
  <%= curation_concern_attribute_to_html(curation_concern, :edition,                    'Edition') %>
  <%= curation_concern_attribute_to_html(curation_concern, :subject,                    'Subject') %>
  <%= curation_concern_attribute_to_html(curation_concern, :lc_subject,                 'Subject (Library of Congress)') %>
  <%= curation_concern_attribute_to_html(curation_concern, :source,                     'Source') %>
  <%= curation_concern_attribute_to_html(curation_concern, :language,                   'Language') %>
  <%= curation_concern_attribute_to_html(
          curation_concern,
          :alephIdentifier,
          "Catalog Record"
      ) %>
  <%= curation_concern_attribute_to_html(curation_concern, :temporal_coverage,          'Temporal Coverage') %>
  <%= curation_concern_attribute_to_html(curation_concern, :spatial_coverage,           'Spatial Coverage') %>
  <%= curation_concern_attribute_to_html(curation_concern, :size,                       'Size') %>
  <%= curation_concern_attribute_to_html(curation_concern, :requires,                   'Requires') %>
  <%= curation_concern_attribute_to_html(curation_concern, :repository_name,            'Repository Name') %>
  <%= curation_concern_attribute_to_html(curation_concern, :collection_name,            'Collection Name') %>
  <%= curation_concern_attribute_to_html(curation_concern, :contributor_institution,    'Contributor Institution') %>
  <%= curation_concern_attribute_to_html(curation_concern, :recommended_citation,       'Recommended Citation') %>
  <%= curation_concern_attribute_to_html(curation_concern, :local_identifier,           'Local Identifier') %>

  <tr>
    <th>Access Rights</th>
    <td>
      <%= render partial: 'permission_badge', locals: { curation_concern: curation_concern } %>
    </td>
  </tr>

  <%= curation_concern_attribute_to_html(curation_concern, :embargo_release_date, 'Embargo Release Date') %>
  <%= curation_concern_attribute_to_html(curation_concern, :rights, 'Content License') %>

  <% if curation_concern.type_of_license == 'Independently Licensed' %>
    <%= curation_concern_attribute_to_html(curation_concern, :license, 'License Agreement') %>
  <% end %>

  <%= decode_administrative_unit(curation_concern, :administrative_unit, 'Departments and Units') %>
  <%= curation_concern_attribute_to_html(curation_concern, :library_collections, "Member of") %>
  </tbody>
</table>
