<%# This is a search result view %>
<% solr_doc = document.inner_object.solr_doc %>
<li id="document_<%= document.noid %>" class="search-result">

  <%= render :partial => 'catalog/_index_partials/identifier_and_action', locals: {document: document, counter: document_counter, solr_doc: solr_doc} %>

  <div class="row">

    <div class="col-sm-2">
      <%= render :partial => 'catalog/_index_partials/thumbnail_display', locals: {document: document} %>
    </div>

    <div class="col-sm-10">
      <dl class="attribute-list">
        <%# Because Book and other Document types store primary creator information in different places. %>
        <% if solr_doc.has?('desc_metadata__type_tesim') && Array.wrap(solr_doc['desc_metadata__type_tesim']).detect { |type| type == 'Book' || type == 'Book Chapter' } %>
          <% if solr_doc.has?('desc_metadata__author_tesim') %>
            <dt>Author(s):</dt>
            <dd><%= render_index_field_value(document: solr_doc, field: 'desc_metadata__author_tesim') %></dd>
          <% end %>
          <% if solr_doc.has?('desc_metadata__editor_tesim') %>
            <dt>Editor(s):</dt>
            <dd><%= render_index_field_value(document: solr_doc, field: 'desc_metadata__editor_tesim') %></dd>
          <% end %>
        <% else %>
          <% if solr_doc.has?('desc_metadata__creator_tesim') %>
            <dt>Author(s):</dt>
            <dd><%= render_index_field_value(document: solr_doc, field: 'desc_metadata__creator_tesim') %></dd>
          <% end %>
        <% end %>

        <% if solr_doc.has?('desc_metadata__lc_subject_tesim') %>
         <dt>Subject(s):</dt>
         <dd><%= render_index_field_value(document: solr_doc, field: 'desc_metadata__lc_subject_tesim') %></dd>
        <% end %>

        <% if solr_doc.has?('desc_metadata__abstract_tesim') %>
          <dt>Abstract:</dt>
          <dd class="readmore"><%= escape_html_for_solr_text(truncate(render_index_field_value(document: solr_doc, field: 'desc_metadata__abstract_tesim'), length: 500)).html_safe %></dd>
        <% end %>

        <% if solr_doc.has?('desc_metadata__publication_date_tesim') %>
          <dt>Date Published:</dt>
          <dd><%= render_index_field_value(document: solr_doc, field: 'desc_metadata__publication_date_tesim') %></dd>
        <% end %>

        <% if solr_doc.has?('desc_metadata__date_created_tesim') %>
          <dt>Date Created:</dt>
          <dd><%= render_index_field_value(document: solr_doc, field: 'desc_metadata__date_created_tesim') %></dd>
        <% end %>
        <dt>Record Visibility: </dt>
        <dd><%= AccessRenderer.new(nil, solr_doc).badge(show_date: false) %></dd>
      </dl>

      <dl class="attribute-list extended-attributes hide">
        <% index_fields.each do |solr_fname, field| -%>
          <% if should_render_index_field? document.inner_object.solr_doc, field %>
            <dt class="blacklight-<%= solr_fname.parameterize %>"><%= render_index_field_label :field => solr_fname %></dt>
            <dd class="blacklight-<%= solr_fname.parameterize %>"><%= render_index_field_value :document=>document.inner_object.solr_doc, :field => solr_fname %></dd>
          <% end -%>
        <% end -%>
      </dl>

    </div>

  </div>

</li>
