<% content_for :page_title, construct_page_title('Account Management', 'Administrative Functions') %>
<% content_for :page_header do %>
  <h1>Account Management</h1>

  <ul class="breadcrumb">
    <li><%= link_to 'CurateND', root_path %> <span class="divider">/</span></li>
    <li><%= link_to 'Administrative Functions', admin_path %> <span class="divider">/</span></li>
    <li class="active">Account Management</li>
  </ul>
<% end %>

<%= form_tag admin_accounts_path, :method => :get, :class => "search-form" do %>
  <fieldset>
    <%= label_tag :catalog_search, "Search Accounts" %>
    <%= text_field_tag(
      :q,
      params[:q],
      :class => "q search-query",
      :id => "account_search",
      :size => "30",
      :tabindex => "1",
      :type => "search",
    )%><button type="submit" class="search-submit" tabindex="2">
      <svg xmlns="http://www.w3.org/2000/svg" version="1.1" class="search-icon" viewBox="0 0 28 28" preserveAspectRatio="xMinYMin meet">
        <style type="text/css">
          .lense {stroke-width:3; fill:none; stroke:#002b5b;}
          .handle {stroke-width:5; stroke:#002b5b;}
          .cap {fill:#002b5b; stroke:none;}
        </style>
        <circle class="lense" cx="10.73" cy="10.73" r="8.85"></circle>
        <line class="handle" x1="16.99" y1="16.99" x2="24.79" y2="24.79"></line>
        <circle class="cap" cx="24.79" cy="24.79" r="2.5"></circle>
      </svg>
      <span class="accessible-hidden">Search</span>
    </button>
  </fieldset>
<% end %>
<% if params[:q].present? %>
  <p><%= link_to 'New Search', admin_accounts_path, class: 'btn btn-default' %></p>
<% end %>

<%= paginate @users %>
<div class="table-scroll-wrapper">
<table class="table table-striped with-row-actions">
  <caption class="accessible-hidden">List of All Matching Accounts</caption>
  <thead>
    <tr>
      <th class="accessibility-placeholder">&#8202;</th>
      <th>ID</th>
      <th>Username</th>
      <th>Email</th>
      <th>Name</th>
      <th>Person Object</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
      <% if current_user == user %>
        <tr class="primary-color-highlight current-user">
          <td class="accessibility-placeholder"><span class="visuallyhidden">Current User</span></td>
      <% else %>
        <tr>
          <td class="accessibility-placeholder">&#8202;</td>
      <% end %>
        <td><%= user.id %></td>
        <td><%= user.username %></td>
        <td><%= mail_to(user.email) %></td>
        <td><%= user.name %></td>
        <td><%= user.repository_noid? ? link_to(user.repository_noid, person_path(user.repository_noid)) : 'no person object' %></td>
        <td>
          <ul class="row-actions">
            <% if user != current_user %>
              <li class="action"><%= link_to('Masquerade', user_masquerade_path(id: user.to_param), class: 'btn btn-default') %></li>
            <% end %>
            <li class="action"><%= link_to('Disconnect Orcid Profile', disconnect_orcid_profile_admin_account_path(id: user.to_param), method: :delete, class: 'btn btn-default') %></li>
          </ul>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
