<% has_read_rights = can?(:read, curation_concern) %>
<% has_edit_rights = can?(:edit, curation_concern) %>

<% content_for :page_title, construct_page_title(curation_concern.title) if curation_concern.title %>

<% content_for :page_header do %>
<% if curation_concern.kind_of?(GenericFile) %>
  <h1><%= curation_concern.filename %></h1>
<% else %>
  <h1><%= richly_formatted_text(curation_concern.to_s, title: true) %></h1>
<% end %>
  <span class="human-readable-type"><%= curation_concern.human_readable_type %></span>
<% end %>

<% content_for :page_actions do %>
  <% if display_citation_generation? %>
    <%= link_to 'Generate Citation', citation_path(curation_concern) , class: 'btn citation-modal-js' %>
  <% end %>
  <% if has_edit_rights %>
    <%= link_to 'Usage Details', metrics_usage_path(id: curation_concern.noid) , class: 'btn btn-default' %>
    <%= link_to edit_polymorphic_path([:curation_concern, curation_concern]), class: 'btn btn-default' do %>
      <i class="icon icon-pencil"></i> Edit
    <% end %>
  <% end %>
  <% if RepoManager.with_active_privileges?(current_user) %>
    <%= link_to 'Reindex this Item', admin_reindex_pid_path(curation_concern.id) , class: 'btn btn-primary' %>
  <% end %>
<% end %>

<% details = capture do %>
  <%# MOVE these partials into the common_objects controller %>
  <%= render "curation_concern/#{curation_concern.class.model_name.plural}/attributes", curation_concern: curation_concern, with_actions: false %>
  <%= render 'curation_concern/base/doi', curation_concern: curation_concern %>

  <% case curation_concern %>
  <% when GenericFile %>
    <% if has_read_rights %>
      <% bendo_datastream = Bendo::DatastreamPresenter.new(datastream: curation_concern.datastreams.fetch('content')) %>
      <%= render 'curation_concern/base/download_file_button', generic_file: curation_concern, bendo_datastream: bendo_datastream %>
    <% end %>
  <% when FindingAid %>
    <%# Only display file list of finding aids to editors. See DLTP-1304 %>
    <% if has_edit_rights %>
      <%= render 'curation_concern/base/related_files', curation_concern: curation_concern, with_actions: true %>
    <% else %>
      <h2>Files</h2>
      <p><em>The file list for this item is only viewable by item editors.</em></p>
    <% end %>
  <% else %>
    <%= render 'curation_concern/base/related_files', curation_concern: curation_concern, with_actions: true %>
  <% end %>
  <%= render 'curation_concern/base/related_works', curation_concern: curation_concern, with_actions: true %>
  <% if curation_concern.is_a? LibraryCollection %>
    <% path = search_collection_pathbuilder(curation_concern) %>
    <% if path %>
      <%= link_to path, class: 'btn btn-large' do %>
        <i class="icon icon-search"></i> Browse Objects in the Collection
      <% end %>
    <% end %>
    <% else %>
      <%= render 'curation_concern/base/collections', curation_concern: curation_concern %>
  <% end %>
<% end %>

<% if curation_concern.representative.present? %>
    <%= render partial: 'curation_concern/base/representative_viewer', locals: { work: curation_concern, details: details } %>
<% else %>
  <div class="work-attributes">
    <%= details %>
  </div>
<% end %>

<%
  has_doi = curation_concern.try(:identifier).present?

  if has_doi
    doi = curation_concern.identifier
    pattern = %r{doi:}i
    if pattern.match(doi)
      unprefixed_doi = doi.gsub(pattern, '')
    else
      unprefixed_doi = doi
    end
  end
%>
<% if has_doi %>
  <div class="show-analytics">
    <hr />
    <a href="https://plu.mx/notre/a/?doi=<%= unprefixed_doi %>" class="plumx-details" data-hide-when-empty="true" data-site="notre"></a>
  </div>
<% end %>
