<% content_for :page_title, construct_page_title(curation_concern.title, 'Show') if curation_concern.title %>
<% content_for :page_header do %>
  <h1><%= richly_formatted_text(curation_concern.to_s) %></h1>
  <span class="human-readable-type"><%= curation_concern.human_readable_type %></span>
<% end %>

<% content_for :page_actions do %>
  <% if display_citation_generation? %>
    <%= link_to 'Generate Citation', citation_path(curation_concern) , class: 'btn btn-default citation-modal-js' %>
  <% end %>
  <% if can?(:edit, curation_concern) %>
    <%= link_to 'Edit', edit_polymorphic_path([:curation_concern, curation_concern]), class: 'btn btn-default' %>
  <% end %>
<% end %>

<div class="work-attributes">
  <%= render "curation_concern/#{curation_concern.class.model_name.plural}/attributes", curation_concern: curation_concern, with_actions: false %>
</div>

<% case curation_concern %>
<% when GenericFile %>
  <%= link_to 'Download this File', download_path(curation_concern), class: 'btn btn-default' %>
<% when LibraryCollection %>
  <%= render 'curation_concern/library_collections/library_collection_members', curation_concern: curation_concern %>
<% else %>
  <%= render 'curation_concern/base/related_files', curation_concern: curation_concern, with_actions: true %>
<% end %>
