<% content_for :page_title, construct_page_title(curation_concern.title, 'Show') if curation_concern.title %>
<% content_for :page_header do %>
  <h1><%= richly_formatted_text(curation_concern.to_s) %></h1>
  <span class="human-readable-type"><%= curation_concern.human_readable_type %></span>
<% end %>

<% if can?(:edit, curation_concern) %>
  <% content_for :page_actions do %>
    <%= link_to 'Edit', edit_polymorphic_path([:curation_concern, curation_concern]), class: 'btn btn-default' %>
  <% end %>
<% end %>

<div class="work-attributes">
  <%= render "curation_concern/#{curation_concern.class.model_name.plural}/attributes", curation_concern: curation_concern, with_actions: false %>
</div>

<%
  # Files do not have attached files; they can be downloaded instead
  if curation_concern.is_a? GenericFile
%>
  <%= link_to 'Download this File', download_path(curation_concern), class: 'btn btn-default' %>
<% else %>
  <%= render 'curation_concern/base/related_files', curation_concern: curation_concern, with_actions: false %>
<% end %>
