<% content_for :page_header do %>
  <h1>Retrieving File</h1>
<% end %>
<% if flash[:notice] %>
  <p class="lead retrieval-request-delay-notice">
    <%= t('curate.notification_messages.file_retrieval_request_received') %>
  </p>
  <div class="manual-item-retrieval-processed-notice alert alert-success">
    <p class="lead">
      <%= t('curate.notification_messages.file_retrieval_tooltip') %><br/>
      <%= link_to 'Download File', download_path(noid), class: 'btn btn-default btn-lg' %>
    </p>
  </div>
<% else %>
  <p class="lead retrieval-delay-notice">
    <%= t('curate.notification_messages.file_retrieval_in_progress') %>
  </p>
  <% bytes = item.file_size.first %>
  <% unless bytes.blank? %>
    <div class="alert alert-block alert-info">
      The file is <%= number_to_human_size(bytes) %>.
    </div>
  <% end %>

  <%
    post_params = JSON.generate({ uri: request_bendo_cache_refresh_path(noid) })
    poll_params = JSON.generate({ item_slug: item_slug, uri: bendo_cache_status_path() })
    redirect_params = JSON.generate({ uri: download_path(noid) })
  %>
  <div class="retrieval-progress-indicator alert alert-block alert-info" data-post="<%= post_params %>" data-poll="<%= poll_params %>" data-redirect="<%= redirect_params %>">
    <p class="lead">Requesting File…</p>
  </div>

  <noscript>
    <div class="manual-item-retrieval-notice alert alert-block alert-danger">
      <p class="lead"><b>JavaScript is disabled.</b> You must request the file manually.</p>
      <%= form_for item, method: :post, url: request_bendo_cache_refresh_path(noid) do |f| %>
        <%= f.submit 'Request File Retrieval', class: 'btn btn-default btn-lg' %>
      <% end %>
    </div>
  </noscript>
<% end %>
