<% content_for :page_title, construct_page_title('Temporary File Access', 'Administrative Functions') %>
<% content_for :page_header do %>
  <h1>Temporary File Access Approvals</h1>

  <ul class="breadcrumb">
    <li><%= link_to 'CurateND', root_path %> <span class="divider">/</span></li>
    <li><%= link_to 'Administrative Functions', admin_path %> <span class="divider">/</span></li>
    <li><span class="active">Temporary File Access</span></li>
  </ul>
<% end %>

<p><%= link_to 'Grant Temporary File Access', new_admin_temporary_access_token_path, class: 'btn btn-default' %></p>

<%= paginate @temporary_access_tokens %>

<table class="table">
  <thead>
    <tr>
      <th>Single-Use URL</th>
      <th>File ID</th>
      <th>Issued by</th>
      <th>Expiry Date</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @temporary_access_tokens.each do |temporary_access_token| %>
      <tr>
        <td>
          <form class="form-slimline">
            <input type="text" class="input-autoselect input-xxlarge" value="<%= download_url(temporary_access_token.noid, token: temporary_access_token.sha) %>">
          </form>
        </td>
        <td><%= link_to temporary_access_token.noid, common_object_path(temporary_access_token.noid) %></td>
        <td><%= temporary_access_token.issued_by %></td>
        <td><%= temporary_access_token.expiry_date.present? ? temporary_access_token.expiry_date.strftime('%Y-%m-%d') : 'Unused' %></td>
        <td>
          <%= link_to 'Show', admin_temporary_access_token_path(temporary_access_token), class: 'btn btn-default' %>
          <%= link_to 'Edit', edit_admin_temporary_access_token_path(temporary_access_token), class: 'btn btn-default' %>
          <%= link_to 'Destroy', admin_temporary_access_token_path(temporary_access_token), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= paginate @temporary_access_tokens %>

<p><%= link_to 'Grant Temporary File Access', new_admin_temporary_access_token_path, class: 'btn btn-default' %></p>
