<% content_for :page_title, construct_page_title('Temporary File Access', 'Administrative Functions') %>
<% content_for :page_header do %>
  <h1>Temporary File Access Grants</h1>
  <% unless @limit_to_id.nil? %>
    <h4>For File ID <%= @limit_to_id %></h4>
    <%= link_to 'View for all files', admin_temporary_access_tokens_path, class: 'btn btn-default' %>
  <% end %>

  <ul class="breadcrumb">
    <li><%= link_to 'CurateND', root_path %> <span class="divider">/</span></li>
    <li><%= link_to 'Administrative Functions', admin_path %> <span class="divider">/</span></li>
    <li><span class="active">Temporary File Access</span></li>
  </ul>
<% end %>

<%= render partial: 'tokens' %>
