<% content_for :page_header do %>
<h1>Temporary Access Token</h1>

<ul class="breadcrumb">
  <li><%= link_to 'CurateND Admin', admin_path %> <span class="divider">/</span></li>
  <li><%= link_to 'Temporary Access Tokens', admin_temporary_access_tokens_path %> <span class="divider">/</span></li>
  <li><span class="active">Show</span></li>
</ul>
<% end %>

<dl>
  <dt>SHA:</dt>
  <dd><%= @temporary_access_token.sha %></dd>
  <dt>Object ID:</dt>
  <dd><%= link_to @temporary_access_token.noid, common_object_path(@temporary_access_token.noid) %></dd>
  <dt>Issued by:</dt>
  <dd><%= @temporary_access_token.issued_by %></dd>
  <dt>Used:</dt>
  <dd><%= @temporary_access_token.used ? 'Yes' : 'No' %></dd>
</dl>

<%= link_to 'Edit', edit_admin_temporary_access_token_path(@temporary_access_token), class: 'btn btn-default' %>
