<!--
  Setting an instance variable of @response here because the blacklight/kaminari helpers
  expect this to be set to the solr response. Passing in a local for the response param
  doesn't seem to work entirely with blacklight 4.5.0
-->
<% @response ||= solr_response %>
<%- pagination_info_cache = render_pagination_info @response %>
<div class="page_links">
  <% if total_pages > 1 -%>
    <%= paginator.render do -%>
      <%= prev_page_tag %>
      <span class="page_entries">
        <%= pagination_info_cache %>
      </span>
      <%= next_page_tag %>
    <% end -%>
  <% else -%>
    <span class="page_entries">
      <%= pagination_info_cache %>
    </span>
  <% end -%>
</div>
