<%= curation_concern_attribute_to_formatted_text(curation_concern, :description, 'Abstract') %>

<table class="table table-striped <%= dom_class(curation_concern) %> attributes">
  <caption class="table-heading"><h2>Attributes</h2></caption>
  <thead>
    <tr><th>Attribute Name</th><th>Values</th></tr>
  </thead>
  <tbody>
  <%= curation_concern_attribute_to_html(curation_concern, :creator, "Created by") %>
  <%= curation_concern_attribute_to_html(curation_concern, :created, "Created on") %>
  <%= curation_concern_attribute_to_html(curation_concern, :advisor, "Advisor") %>
  <%= curation_concern_attribute_to_html(curation_concern, :subject, "Subject") %>
  <%= curation_concern_attribute_to_html(curation_concern, :bibliographic_citation, "Bibliographic Citation") %>
  <%= curation_concern_attribute_to_html(curation_concern, :language, "Language") %>
  <%= decode_administrative_unit(curation_concern, :administrative_unit, "Departments And Units") %>
  <%= curation_concern_attribute_to_html(curation_concern, :source, "Source") %>
  <%= curation_concern_attribute_to_html(curation_concern, :publisher, "Publisher") %>
  <tr>
    <th>Access Rights</th>
    <td>
      <%= render partial: 'permission_badge', locals: { curation_concern: curation_concern } %>
    </td>
  </tr>
  <%= curation_concern_attribute_to_html(curation_concern, :embargo_release_date, "Embargo Release Date") %>
  </tbody>
</table>
