<table class="table table-striped <%= dom_class(curation_concern) %> attributes">
  <caption class="table-heading"><h2>Attributes</h2></caption>
  <thead>
    <tr><th>Attribute Name</th><th>Values</th></tr>
  </thead>
  <tbody>
  <%= attribute_to_html(curation_concern, :creator) %>
  <%= attribute_to_html(curation_concern, :description) %>
  <%= attribute_to_html(curation_concern, :created) %>
  <tr>
    <th>Access Rights</th>
    <td>
      <ul class="tabular">
        <li class="attribute permission"><%= link_to_edit_permissions(curation_concern) %></li>
      </ul>
    </td>
  </tr>
  <%= attribute_to_html(curation_concern, :embargo_release_date) %>
  <%= attribute_to_html(curation_concern, :identifier) %>
  <%= attribute_to_html(curation_concern, :advisor) %>
  <%= attribute_to_html(curation_concern, :contributor) %>
  <%= attribute_to_html(curation_concern, :subject) %>
  <%= attribute_to_html(curation_concern, :bibliographic_citation) %>
  <%= attribute_to_html(curation_concern, :language) %>
  <%= attribute_to_html(curation_concern, :publisher) %>
  <%= attribute_to_html(curation_concern, :source) %>
  </tbody>
</table>
