<%= curation_concern_attribute_to_formatted_text(curation_concern, :abstract, 'Abstract') %>

<table class="table table-striped <%= dom_class(curation_concern) %> attributes">
  <caption class="table-heading"><h2>Attributes</h2></caption>
  <thead>
    <tr><th>Attribute Name</th><th>Values</th></tr>
  </thead>
  <tbody>
  <%= curation_concern_attribute_to_html(curation_concern, :alternate_title, 'Alternate Title') %>
  <%= curation_concern_attribute_to_html(curation_concern, :urn, 'URN') %>
  <% curation_concern.creator.each do |author| %>
    <tr><th> Author </th><td><%= raw author %></td></tr>
  <% end %>
  <% curation_concern.advisor.each do |advisor| %>
    <tr><th> Advisor </th><td><%= raw advisor %></td></tr>
  <% end %>
  <% curation_concern.contributor.each do |contributor| %>
    <% unless contributor.contributor.first.blank? %>
      <tr><th> Contributor </th><td><%= contributor.contributor.first %>, <%= contributor.role.first %></td></tr>
    <% end %>
  <% end %>
  <% curation_concern.degree.each do |degree| %>
    <tr><th> Degree Level </th><td><%= degree.level.first %></td></tr>
    <% degree.discipline.each do |disc| %>
      <% unless disc.blank? %>
        <tr><th> Degree Discipline </th><td><%= disc %></td></tr>
      <% end %>
    <% end %>
    <tr><th> Degree Name </th><td><%= DEGREE.fetch('degrees').fetch(degree.name.first, degree.name.first) %></td></tr>
  <% end %>
  <%= curation_concern_attribute_to_html(curation_concern, :date, 'Defense Date') %>
  <tr><th> Submission Date </th><td><%= curation_concern.date_uploaded %></td></tr> 
  <%= curation_concern_attribute_to_html(curation_concern, :country, 'Country') %>
  <%= curation_concern_attribute_to_html(curation_concern, :subject, "Subject") %>
  <%= curation_concern_attribute_to_html(curation_concern, :publisher, "Publisher") %>
  <%= curation_concern_attribute_to_html(curation_concern, :language, "Language") %>
  <%= decode_administrative_unit(curation_concern, :administrative_unit, "Departments And Units") %>
  <%= curation_concern_attribute_to_html(curation_concern, :coverage_temporal, "Coverage Temporal") %>
  <%= curation_concern_attribute_to_html(curation_concern, :coverage_spatial, "Coverage Spatial") %>
  <tr>
    <th>Access Rights</th>
    <td>
      <%= render partial: 'permission_badge', locals: { curation_concern: curation_concern } %>
    </td>
  </tr>
  <%= curation_concern_attribute_to_html(curation_concern, :embargo_release_date, "Embargo Release Date") %>
  <%= curation_concern_attribute_to_html(curation_concern, :rights, "Content License") %>
  <%= curation_concern_attribute_to_html(curation_concern, :note, "Note") %>
  </tbody>
</table>
