<%= curation_concern_form_for [:curation_concern, curation_concern] do |f| %>
  <% if f.error_notification -%>
    <div class="alert alert-danger fade in">
      <strong>Wait don't go!</strong> There was a problem with your submission. Please review the errors below:
      <a class="close" data-dismiss="alert" href="#">&times;</a>
    </div>
  <% end -%>

  <div class="row">
    <div class="col-sm-12">
      <fieldset class="required">
        <%= f.input :title, input_html: { class: 'input-xxlarge'}, required: true %>
        <%= f.input :creator, input_html: { class: 'input-xlarge', placeholder: 'George Washington' }, required: true %>
        <%= f.input :source, input_html: { class: 'input-xlarge'}, required: false %>
        <%= f.input :relation, as: :multi_value, label: "Related Resource(s)", input_html: {class: 'input-xlarge', type: 'url'} %>
        <%= f.input :alephIdentifier,         as: :multi_value, label: "Aleph Record Number" , input_html: { class: 'input-xlarge' } %>
        <%= f.input :abstract, input_html: { class: 'input-xxxlarge rich-textarea-js', rows: '9' }, as: :text, required: true %>
        <%= f.hidden_field :visibility, value: 'open' %>
        <% action_name == "new" ? required = true : required = false %>
        <%= render 'form_administrative_unit', curation_concern: curation_concern, f: f, select_label_id: 'add-to-administrative-unit', button_class: 'btn btn-primary', required: required %>
      </fieldset>
    </div>
  </div>

    <%= render 'form_descriptive_fields', curation_concern: curation_concern, f: f %>

    <div class="row with-headroom">
      <div class="col-sm-12">
        <legend>Files</legend>
        <%= render "form_files", curation_concern: curation_concern, f: f %>
        <% if curation_concern.persisted? %>
          <%= render 'form_manage_related_files', curation_concern: curation_concern, f: f %>
        <% end %>
      </div>
    </div>

    <div class="row with-headroom">
      <fieldset id="content-editor">
        <legend class="col-sm-12">
          <%=t('sufia.work.collaborator.legend') %>
          <small><%=t('sufia.work.collaborator.caption') %></small>
        </legend>
        <div class="col-sm-7" id="required-information">
          <%= render "linked_record_editors", curation_concern: curation_concern, f: f %>
        </div>

        <div class="col-sm-7" id="additional-information">
          <%= render "linked_record_editor_groups", curation_concern: curation_concern, f: f %>
        </div>

        <div class="col-sm-7" id="additional-information">
          <%= render "linked_record_viewers", curation_concern: curation_concern, f: f %>
        </div>

        <div class="col-sm-7" id="additional-information">
          <%= render "linked_record_viewer_groups", curation_concern: curation_concern, f: f %>
        </div>
      </fieldset>
    </div>

  <div class="row with-headroom">
    <div class="col-sm-12">
      <%= render "form_content_license", curation_concern: curation_concern, f: f %>
    </div>
  </div>

  <%= render 'form_contributor_agreement', curation_concern: curation_concern, contributor_agreement: contributor_agreement, f: f %>

  <div class="row">
    <div class="col-sm-12 form-actions">
      <% if curation_concern.persisted? %>
        <%= f.submit(class: 'btn btn-primary') %>
      <% else %>
        <%= f.submit(
          title: "Submit your #{curation_concern.human_readable_type} after you accept the Content Submission Terms.",
          class: 'btn btn-primary require-contributor-agreement'
        ) %>
      <% end %>
      <%= link_to 'Cancel', catalog_index_path, class: 'btn btn-link' %>
    </div>
  </div>

<% end %>
