<% unless curation_concern.persisted? %>
  <fieldset id="work-contents">
    <div class="row with-headroom">
      <div class="span12">
        <legend>
          Manage your <%= curation_concern.human_readable_type %> files
        </legend>

      </div>
    </div>

    <div class="row">

      <fieldset class="span5">
        <legend>
          Attach Your File.
          <strong>Note - Files larger than <%= t('sufia.supported_file_upload_size') %> are currently not supported by <%=t('sufia.product_name')%>. Please contact <%= mail_to t('sufia.help_email') %> for assistance.</strong>
        </legend>
        <%= f.input :files, as: :file %>
      </fieldset>


    </div>
  </fieldset>
<% end %>
