<%# This is a search result view %>
<% solr_doc = dissertation.inner_object.solr_doc %>
<li id="document_<%= dissertation.noid %>" class="search-result">

  <%= render :partial => 'catalog/_index_partials/identifier_and_action', locals: {document: dissertation, counter: dissertation_counter} %>

  <div class="row">

    <div class="col-sm-2">
      <%= render :partial => 'catalog/_index_partials/thumbnail_display', locals: {document: dissertation} %>
    </div>

    <div class="col-sm-10">
      <dl class="attribute-list">
        <% if solr_doc.has?('desc_metadata__creator_tesim') %>
          <dt>Author:</dt>
          <dd><%= render_index_field_value(document: solr_doc, field: 'desc_metadata__creator_tesim') %></dd>
        <% end %>
        <% if solr_doc.has?('contributors_tesim') %>
          <dt>Advisory Committee:</dt>
          <dd><%= render_index_field_value(document: solr_doc, field: 'contributors_tesim') %></dd>
        <% end %>
        <% if solr_doc.has?('desc_metadata__date_ssi') %>
          <dt>Defense Date:</dt>
          <dd><%= render_index_field_value(document: solr_doc, field: 'desc_metadata__date_ssi') %></dd>
        <% end %>
        <dt>Record Visibility: </dt>
        <dd><%= AccessRenderer.new(nil, solr_doc).badge(show_date: false) %></dd>
      </dl>

    </div>

  </div>

</li>
