<table class="table table-striped <%= dom_class(curation_concern) %> attributes">
  <caption class="table-heading"><h2>Attributes</h2></caption>
  <thead>
    <tr><th>Attribute Name</th><th>Values</th></tr>
  </thead>
  <tbody>
    <%= curation_concern_attribute_to_html(curation_concern, :creator, 'Creator') %>
    <%= curation_concern_attribute_to_html(curation_concern, :subject, "Subject") %>
    <%= curation_concern_attribute_to_html(curation_concern, :date_archived, "Archive Date") %>
    <%= curation_concern_attribute_to_html(curation_concern, :source, "Original Project") %>
    <%= curation_concern_attribute_to_html(curation_concern, :language, "Language") %>
    <%= decode_administrative_unit(curation_concern, :administrative_unit, "Departments and Units") %>
    <%= curation_concern_attribute_to_html(curation_concern, :library_collections, "Member of") %>
    <tr>
      <th>Access Rights</th>
      <td>
        <%= render partial: 'permission_badge', locals: { curation_concern: curation_concern } %>
      </td>
    </tr>
    <%= curation_concern_attribute_to_html(curation_concern, :embargo_release_date, "Embargo Release Date") %>
    <%= curation_concern_attribute_to_html(curation_concern, :rights, "Content License") %>
    <% if curation_concern.type_of_license == "Independently Licensed" %>
      <%= curation_concern_attribute_to_html(curation_concern, :license, "License Agreement") %>
    <% end %>
  </tbody>
</table>
