<% title_link_target ||= common_object_path(document) %>
<% if document.respond_to?(:representative_image_url) && document.representative_image_url.present? %>
  <%= link_to title_link_target do %>
    <div class="thumbnail-wrapper">
      <%= image_tag(document.representative_image_url, html_options = { class: "canonical-image"}) %>
    </div>
  <% end %>
<% elsif document.respond_to?(:representative) && document.representative.present? %>
  <% begin %>
    <%= link_to title_link_target do  %>
      <% if((file = ActiveFedora::Base.load_instance_from_solr(document.representative)) && can_view_thumnail?(file,document) ) %>
        <%= image_tag(download_path(document.representative,  'thumbnail'), html_options = { class: "canonical-image" }) %>
      <% else %>
        <div class="thumbnail-wrapper">
          <span class="canonical-image"></span>
        </div>
      <% end %>
    <% end %>
  <% rescue ActiveFedora::ObjectNotFoundError %>
    <%= image_tag 'curate/default.png', class: 'canonical-image' %>
  <% end %>
<% elsif document.persisted? %>
  <%= link_to title_link_target do  %>
    <div class="thumbnail-wrapper">
      <%= image_tag(download_path(document,  'thumbnail'), html_options = { class: "canonical-image"}) %>
    </div>
  <% end %>
<% else %>
  <%= link_to title_link_target do %>
    <div class="thumbnail-wrapper">
      <span class="canonical-image"></span>
    </div>
  <% end %>
<% end %>
