<% title_link_target ||= common_object_path(document) %>
<% if document.respond_to?(:representative_image_url) && document.representative_image_url.present? %>
  <%= link_to title_link_target do %>
    <div class="thumbnail-wrapper">
      <%= image_tag(document.representative_image_url, html_options = { class: "canonical-image"}) %>
    </div>
  <% end %>
<% elsif document.respond_to?(:representative) && document.representative.present? %>
  <%= thumbnail_display_for_document(document, title_link_target) %>
<% elsif document.persisted? %>
  <%= link_to title_link_target do  %>
    <div class="thumbnail-wrapper">
      <%= image_tag(download_path(document,  'thumbnail'), html_options = { class: "canonical-image"}) %>
    </div>
  <% end %>
<% else %>
  <%= link_to title_link_target do %>
    <div class="thumbnail-wrapper">
      <span class="canonical-image"></span>
    </div>
  <% end %>
<% end %>
