<div class="collection-actions">
  <a href="javascript:void(0)" class="btn btn-link toggle-collection-meta open">
    Collection Details <i class="chevron"></i>
  </a>
  <%= link_to 'Full Record', common_object_path(curation_concern.noid), class: 'btn btn-link collection-record-link' %>
</div>
<div class="collection-meta">
  <% if curation_concern.library_collections.any? %>
    <div class="row collection-parents">
      <div class="col-sm-9 offset-sm-3">
        <dl>
          <dt class="collection-parents__heading">
            <%= (curation_concern.library_collections.count == 1) ? 'Parent Collection' : 'Parent Collections' %>
          </dt>
          <% curation_concern.library_collections.each do |parent| %>
            <dd><%= link_to parent.title, common_object_path(parent.noid) %></dd>
          <% end %>
        </dl>
      </div>
    </div>
  <% end %>
  <div class="row">
    <% if curation_concern.representative.present? %>
      <div class="col-sm-3 collection-meta-sidebar">
        <a href="<%= download_path(curation_concern.representative) %>" target = "_blank">
          <%= image_tag download_path(curation_concern.representative,'thumbnail'), class: 'representative_image' %>
        </a>
      </div>
      <div class="col-sm-9 collection-meta-content">
    <% else %>
      <div class="col-sm-9 offset-sm-3 collection-meta-content">
    <% end %>
      <section class="collection-meta-description">
        <%= curation_concern_attribute_to_formatted_text(curation_concern, :description, 'Description') %>
      </section>

      <dl class="collection-meta-attributes">
        <%= curation_concern_attribute_to_html(curation_concern, :creator, 'Creator', template: 'dl') %>
        <%= curation_concern_attribute_to_html(curation_concern, :contributor, 'Contributor', template: 'dl') %>
        <%= curation_concern_attribute_to_html(curation_concern, :curator, 'Curator', template: 'dl') %>
        <%= curation_concern_attribute_to_html(curation_concern, :based_near, 'Based Near', template: 'dl') %>
        <%= curation_concern_attribute_to_html(curation_concern, :part_of, 'Part of', template: 'dl') %>
        <%= curation_concern_attribute_to_html(curation_concern, :publisher, 'Publisher', template: 'dl') %>
        <%= curation_concern_attribute_to_html(curation_concern, :date_created, 'Date Created', template: 'dl') %>
        <%= curation_concern_attribute_to_html(curation_concern, :subject, 'Subject', template: 'dl') %>
        <%= curation_concern_attribute_to_html(curation_concern, :resource_type, 'Resource Type', template: 'dl') %>
        <%= curation_concern_attribute_to_html(curation_concern, :rights, "Content License") %>
        <%= curation_concern_attribute_to_html(curation_concern, :permission, "Use Permissions") %>
        <%= curation_concern_attribute_to_html(curation_concern, :identifier, 'Identifier', template: 'dl') %>
        <%= curation_concern_attribute_to_html(curation_concern, :language, 'Language', template: 'dl') %>
        <%= curation_concern_attribute_to_html(curation_concern, :relation, 'Related Resource(s)', template: 'dl') %>
        <%= curation_concern_attribute_to_html(curation_concern, :related_url, 'Related URL', template: 'dl') %>
        <%= curation_concern_attribute_to_html(curation_concern, :source, 'Source', template: 'dl') %>
        <%= curation_concern_attribute_to_html(curation_concern, :temporal, 'Temporal Coverage', template: 'dl') %>
        <%= curation_concern_attribute_to_html(curation_concern, :spatial, 'Spatial Coverage', template: 'dl') %>
      </dl>

      <% subcollections = curation_concern.subcollections %>
      <% if subcollections.any? %>
      <div class="collection-subcollections">
        <%= content_tag :h3, 'Subcollections', class: 'collection-subcollections__heading' %>
        <ul class="collection-subcollections__listing">
          <% subcollections.each do |subcollection| %>
            <li><%= link_to subcollection.title, common_object_path(subcollection.noid) %></li>
          <% end %>
        </ul>
      </div>
      <% end %>
    </div>
  </div>
</div>
