<div class="btn-group my-actions">
  <a class="btn btn-primary dropdown-toggle" data-toggle="dropdown" href="#">
    Manage
    <span class="caret"></span>
  </a>
  <ul class="dropdown-menu">
    <li><%= link_to 'My Works',       catalog_index_path(:'f[generic_type_sim][]' => 'Work', works: 'mine'), class: 'my-works',       role: 'menuitem' %></li>
    <li><%= link_to 'Group Administration',      hydramata_groups_path,                                                 class: 'my-groups',      role: 'menuitem' %></li>
    <li><%= link_to 'My Account',     user_profile_path,                                                     class: 'my-account',     role: 'menuitem' %></li>
    <li class="divider"></li>
    <li>
      <%= link_to 'Temporary Access Grants',
        temporary_access_tokens_path,
        role: 'menuitem' %>
    </li>
    <% if CurateND::AdminConstraint.is_admin?(current_user) %>
    <li class="divider"></li>
    <li><%= link_to 'Repository Administration', admin_path, role: 'menuitem' %></li>
    <li>
      <%= link_to 'API Access Tokens',
        api_access_tokens_path,
        role: 'menuitem' %>
    </li>
    <% end %>
    <li class="divider"></li>
    <li><%= link_to 'Log Out', destroy_user_session_path, class: 'log-out', role: 'menuitem' %></li>
  </ul>
</div>
