<table class="table table-striped <%= dom_class(curation_concern) %> attributes">
  <caption class="table-heading"><h2>Attributes</h2></caption>
  <thead>
    <tr><th>Attribute Name</th><th>Values</th></tr>
  </thead>
  <tbody>
    <%= curation_concern_attribute_to_html(curation_concern, :description, 'Description') %>
    <%= curation_concern_attribute_to_html(curation_concern, :alternate_title, 'Alternate Title') %>
    <%= curation_concern_attribute_to_html(curation_concern, :performer, 'Performer(s)') %>
    <%= curation_concern_attribute_to_html(curation_concern, :composer, 'Composer(s)') %>
    <%= curation_concern_attribute_to_html(curation_concern, :conductor, 'Conductor(s)') %>
    <%= curation_concern_attribute_to_html(curation_concern, :work_author, 'Author(s)') %>
    <%= curation_concern_attribute_to_html(curation_concern, :interviewer, 'Interviewer(s)') %>
    <%= curation_concern_attribute_to_html(curation_concern, :interviewee, 'Interviewee(s)') %>
    <%= curation_concern_attribute_to_html(curation_concern, :producer, 'Producer(s)') %>
    <%= curation_concern_attribute_to_html(curation_concern, :creator, 'Creator(s)') %>
    <%= curation_concern_attribute_to_html(curation_concern, :contributor, "Contributor(s)") %>
    <%= curation_concern_attribute_to_html(curation_concern, :duration, "Duration") %>
    <%= curation_concern_attribute_to_html(curation_concern, :subject, "Subject(s)") %>
    <%= curation_concern_attribute_to_html(curation_concern, :genre, "Genre(s)") %>
    <%= curation_concern_attribute_to_html(curation_concern, :is_part_of, "Part of") %>
    <%= curation_concern_attribute_to_html(curation_concern, :original_media_source, "Original Media Source") %>
    <%= curation_concern_attribute_to_html(curation_concern, :date_created, "Date Recorded") %>
    <%= curation_concern_attribute_to_html(curation_concern, :publisher, "Publisher") %>
    <%= curation_concern_attribute_to_html(curation_concern, :publication_date, "Publication Date") %>
    <%= decode_administrative_unit(curation_concern, :administrative_unit, "Departments and Units") %>
    <%= curation_concern_attribute_to_html(curation_concern, :relation, "Related Resource(s)") %>
    <%= curation_concern_attribute_to_html(
            curation_concern,
            :alephIdentifier,
            "Aleph Record Number"
        ) %>
    <%= curation_concern_attribute_to_html(curation_concern, :library_collections, "Member of") %>
    <tr>
      <th>Access Rights</th>
      <td>
        <%= render partial: 'permission_badge', locals: { curation_concern: curation_concern } %>
      </td>
    </tr>
    <%= curation_concern_attribute_to_html(curation_concern, :embargo_release_date, "Embargo Release Date") %>
    <%= curation_concern_attribute_to_html(curation_concern, :rights, "Content License") %>
    <% if curation_concern.type_of_license == "Independently Licensed" %>
      <%= curation_concern_attribute_to_html(curation_concern, :license, "License Agreement") %>
    <% end %>
  </tbody>
</table>
