<% content_for :page_title, construct_page_title('Site-Wide Announcements', 'Administrative Functions') %>
<% content_for :page_header do %>
  <h1>Site-Wide Announcements</h1>

  <ul class="breadcrumb">
    <li><%= link_to 'CurateND', root_path %> <span class="divider">/</span></li>
    <li><%= link_to 'Administrative Functions', admin_path %> <span class="divider">/</span></li>
    <li class="active">Site-Wide Announcements</li>
  </ul>
<% end %>

<%= paginate @admin_announcements %>

<table class="table table-striped">
  <caption class="accessible-hidden">List of All Administrative Announcements</caption>
  <thead>
    <tr>
      <th>Message</th>
      <th>Start at</th>
      <th>End at</th>
      <th>&nbsp;</th>
    </tr>
  </thead>

  <tbody>
    <% @admin_announcements.each do |admin_announcement| %>
      <tr>
        <td><%= link_to(truncate(admin_announcement.message, length: 150,omission: '... (continued)'), admin_announcement) %></td>
        <td><%= admin_announcement.start_at %></td>
        <td><%= admin_announcement.end_at %></td>
        <td>
          <%= link_to 'Edit', edit_admin_announcement_path(admin_announcement), class: 'btn btn-default' %>
          <%= link_to 'Destroy', admin_announcement, method: :delete, class: 'btn btn-default', data: { confirm: 'Are you sure?' } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= paginate @admin_announcements %>

<div class="form-actions">
  <%= link_to 'New Announcement', new_admin_announcement_path, class: 'btn btn-primary' %>
</div>
