<% content_for :page_header do %>
  <h1>CurateND Announcements</h1>
<% end %>

<%= paginate @admin_announcements %>

<table class="table table-striped">
  <caption class="accessible-hidden">List of All Administrative Announcments</caption>
  <thead>
    <tr>
      <th>Message</th>
      <th>Start at</th>
      <th>End at</th>
      <th>&nbsp;</th>
    </tr>
  </thead>

  <tbody>
    <% @admin_announcements.each do |admin_announcement| %>
      <tr>
        <td><%= link_to(truncate(admin_announcement.message, length: 150,omission: '... (continued)'), admin_announcement) %></td>
        <td><%= admin_announcement.start_at %></td>
        <td><%= admin_announcement.end_at %></td>
        <td>
          <%= link_to 'Edit', edit_admin_announcement_path(admin_announcement), class: 'btn' %>
          <%= link_to 'Destroy', admin_announcement, method: :delete, class: 'btn', data: { confirm: 'Are you sure?' } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= paginate @admin_announcements %>

<div class="form-actions">
  <%= link_to 'New Announcement', new_admin_announcement_path, class: 'btn btn-primary' %>
</div>
