<p id="notice"><%= notice %></p>

<p>
  <strong>Message:</strong>
  <%= @admin_announcement.message %>
</p>

<p>
  <strong>Start at:</strong>
  <%= @admin_announcement.start_at %>
</p>

<p>
  <strong>End at:</strong>
  <%= @admin_announcement.end_at %>
</p>

<%= link_to 'Edit', edit_admin_announcement_path(@admin_announcement) %> |
<%= link_to 'Back', admin_announcements_path %>
