<p id="notice"><%= notice %></p>

<dl class="attributes">
  <dt>Message:</dt>
  <dd><%= @admin_announcement.message %></dd>
  <dt>Start at:</dt>
  <dd><%= @admin_announcement.start_at %></dd>
  <dt>End at:</dt>
  <dd><%= @admin_announcement.end_at %></dd>
</dl>

<%= link_to 'Edit Announcement', edit_admin_announcement_path(@admin_announcement), class: 'btn btn-default' %>
<%= link_to 'Announcements Home', admin_announcements_path, class: 'btn btn-link' %>
