<% required ||= false %>

<div class="form-group <%=curation_concern.class%>_administrative_unit">
  <span class="control-label">
    <label for="<%=f.object_name%>administrative_unit[]" class="select <%= required ? 'required' : 'optional' %>">
      <% if required %>
      <abbr class="required-indicator" title="" data-placement="right" data-original-title="Required">★</abbr>
      <% end %>
      <span id="<%=f.object_name%>administrative_unit[]_label">Departments and Units</span>
    </label>
    <span id="<%=f.object_name%>administrative_unit[]" class="field-hint" role="tooltip">
      Identify <strong>all</strong> the department(s), center(s), or institute(s) <strong>primarily</strong> affiliated with this work.<br />
      Choosing a department <strong>also</strong> associates the work with its college e.g. selecting <em>Africana Studies</em> will associate the work with the <em>College of Arts and Letters</em> as well.
    </span>
  </span>
  <div class="controls">
    <% options = "" %>
    <% if action_name == "edit"
        as_of = :all
      else
        as_of = Time.zone.now
    end %>
    <% options << administrative_unit_option_listing(curation_concern, as_of: as_of) %>
    <%=select_tag "#{f.object_name}[administrative_unit][]", options, {prompt: 'Please select one or more; type to search', class: 'input-xxlarge department-select', :size =>10, multiple:true, required: required }  %>
  </div>
</div>
