<% unless curation_concern.persisted? %>
  <fieldset id="work-contents">
    <div class="row with-headroom">
      <div class="span12">
        <legend>
          Add Your Content
        </legend>

        <p class="help-block">
          The subject of your <%= curation_concern.human_readable_type.downcase %> can either be a file <em>or</em> a URL.
        </p>
      </div>
    </div>

    <div class="row">

      <fieldset class="span5">
        <legend>
          Attach Your File.
          <strong>Note - For files larger than<%= t('sufia.supported_file_upload_size') %> please contact <%= mail_to t('sufia.help_email') %> for assistance.</strong>
        </legend>
        <%= f.input :files, as: :file %>
      </fieldset>

      <strong class="span1 field-choice">OR</strong>

      <fieldset class="span6">
        <%= f.input :linked_resource_urls, as: :multi_value, label: "External links", input_html: {class: 'input-xlarge'} %>
      </fieldset>

    </div>
  </fieldset>
<% end %>
