<%- remote_service = Doi::Datacite -%>
<%- if curation_concern.identifier.present? -%>
  <%# Please forgive this questionably semantic markup -- it should just _look_ the same as a legend/fieldset %>
  <fieldset id="doi">
    <legend>Digital Object Identifier</legend>
    <p>
      This
      <%= classify_for_display(curation_concern) %>
      has a <abbr title="Digital Object Identifier">DOI</abbr>.
    </p>
    <p>
      <strong><%= link_to curation_concern.identifier, remote_service.remote_uri_for(curation_concern.identifier).to_s %></strong>
    </p>
    <p>
      This <abbr title="Digital Object Identifier" data-placement="right">DOI</abbr> link is the best way for others to cite your work.
    </p>
  </fieldset>
<%- else -%>
  <fieldset class="promote promote-doi" id="set-doi">
    <legend>
      Assign a Digital Object Identifier (DOI)
    </legend>

    <p>
      A <abbr title="Digital Object Identifier" data-placement="right">DOI</abbr> is a permanent link to your
      <%= classify_for_display(curation_concern) %>.
      It&rsquo;s an easy way for other people to cite your work.
    </p>
    <p>
      Want more information on <abbr title="Digital Object Identifier">DOI</abbr>s?
      Here&rsquo;s a <a href="http://simple.wikipedia.org/wiki/Doi" target="_blank">brief summary</a> and the <a href="http://www.doi.org/faq.html" target="_blank">DOI FAQ</a>.
    </p>

    <div class="form-group">
      <label class="radio">
        <input type="radio" name="<%= f.object_name %>[doi_assignment_strategy]" id="no-doi" value="<%= CurationConcern::RemotelyIdentifiedByDoi::ALREADY_GOT_ONE %>" />
        <span class="label-text">
          Use an existing DOI for this item (e.g. a publisher has already assigned one): <%= f.input :existing_identifier, wrapper: :inline, value: curation_concern.identifier, input_html: { placeholder: "doi:10.5072/FK2FT8XZZ", class: 'input-large' } %>
        </span>
      </label>
      <label class="radio">
        <input type="radio" name="<%= f.object_name %>[doi_assignment_strategy]" id="mint-doi" value="<%= CurationConcern::RemotelyIdentifiedByDoi::GET_ONE %>" />
        <span class="label-text">
          Create a DOI for this item (the DOI will point to the item in CurateND)
          <br /><em><strong>Please note that it could take up to an hour for your DOI to be available.</strong></em>
        </span>
      </label>
      <label class="radio">
        <input type="radio" name="<%= f.object_name %>[doi_assignment_strategy]" id="<%= f.object_name %>_doi_assignment_strategy_<%= CurationConcern::RemotelyIdentifiedByDoi::NOT_NOW  %>" value="<%= CurationConcern::RemotelyIdentifiedByDoi::NOT_NOW %>" checked/>
        <span class="label-text">
          Leave the DOI field blank. One can be created later.
        </span>
      </label>
    </div>
  </fieldset>
<%- end -%>
