<% content_for :second_row do %>
<% editor = can?(:edit, curation_concern)%>

<section id="attached-files">
  <% if curation_concern.respond_to?(:generic_files) %>
    <% (files_solr_response, files) = curation_concern.generic_files_page(params[:files_page].to_i, params[:files_per_page].to_i) %>
    <% if files.any? %>
      <h2>Files</h2>
      <table class="table table-striped related-files">
        <thead>
          <tr>
            <th>Thumbnail</th>
            <th>File Name</th>
            <th>Description</th>
            <th>Size</th>
            <th>Type</th>
            <th>File Access</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
            <article class="file-delay-notice alert alert-info">
              <%= t('curate.notification_messages.file_retrieval').html_safe %>
            </article>
            <% if files.any? {|gf| gf.with_empty_content?} %>
              <div class="alert"><strong>Hey!</strong> It looks like there is a problem with one of these files.</div>
            <% end %>
            <% files.each do |generic_file| %>
              <%= render '/curation_concern/base/related_files_rows', curation_concern: curation_concern, generic_file: generic_file %>
            <% end %>
        </tbody>
      </table>
      <div class="pager">
        <%= paginate_rsolr_response files_solr_response, :outer_window => 2, :theme => 'blacklight', param_name: :files_page, solr_response: files_solr_response %>
      </div>
      <% elsif editor %>
        <h2>Files</h2>
        <p><em>This <%= curation_concern.human_readable_type.downcase %> has no files associated with it.
          <br />You must attach at least one file to choose a thumbnail for this <%= curation_concern.human_readable_type.downcase %>.
        </em></p>
      <% end %>
      <% if editor %>
        <div class="section-actions">
          <%= link_to new_curation_concern_generic_file_path(curation_concern), class: 'btn btn-default' do %>
            <i class="icon icon-upload"></i> Attach a File
          <% end %>
        </div>
      <% end %>
    <% end %>
</section>
<% end %>
