<% if curation_concern.respond_to?(:linked_resources) %>
<%
  editor = can?(:edit, curation_concern)
  with_linked_resources = curation_concern.linked_resources.present?
%>

<% if editor || with_linked_resources %>
  <section id="related-resources">
    <h2>External Links</h2>
    <% if with_linked_resources  %>
      <ul class="<%= dom_class(curation_concern) %> related-resources">
        <% curation_concern.linked_resources.each do |link| %>
          <li class="<%= dom_class(link) %> related-resource">
          <% if link.title.present? %>
            <%= link_to link.title, link.url %>
          <% else %>
            <%= link_to link.url, link.url %>
          <% end %>
          <% if with_actions %>
            <span class="actions">
            <% if can?(:edit, link) %>
              <%= link_to(
                edit_polymorphic_path([:curation_concern, link]),
                { class: 'btn btn-default', title: "Edit #{link}" }
              ) do %>
              <i class="icon icon-pencil"></i> Edit
              <% end %>
            <% end %>
          <% end %>
          </li>
        <% end %>
      </ul>
    <% elsif editor %>
      <p><em>This <%= curation_concern.human_readable_type %> has no external links associated with it.</em></p>
    <% end %>

  <% if editor %>
    <div class="section-actions">
      <%= link_to new_curation_concern_linked_resource_path(curation_concern), class: 'btn btn-default' do %>
        <i class="icon icon-plus"></i> Add a Link
      <% end %>
    </div>
  <% end %>
<% end %>
<% end %>
