<% editor = can?(:edit, curation_concern)%>

<section id="attached-files">
<% if curation_concern.respond_to?(:generic_files) && curation_concern.generic_files.present? %>
  <h2>Files</h2>
  <% if curation_concern.with_empty_contents? %>
    <div class="alert"><strong>Hey!</strong> It looks like there is a problem with one of these files.</div>
  <% end %>

  <% curation_concern.generic_files.each_with_index do |generic_file, index| %>
    <article id="file-<%= index %>" class="attached-file <%= dom_class(generic_file) %> <%= alert_class(generic_file) %>">
      <h3 class="file-title">
        <%= link_to generic_file_title(generic_file), download_path(generic_file.noid) %>
      </h3>

      <p><%= render partial: 'permission_badge', locals: { curation_concern: generic_file, show_date: true } %></p>

      <figure class="file-thumbnail">
        <%= render partial: '/application/thumbnail', locals: { thumbnail: generic_file, href: download_path(generic_file.noid) } %>
      </figure>

      <div class="actions">
        <% if can?(:read, generic_file) %>
          <%
            if generic_file.with_empty_content?
              content_dependent_button_class = 'action btn disabled'
            else
              content_dependent_button_class = 'action btn'
            end
          %>
          <%= link_to(
            download_path(generic_file.noid),
            {
              class: content_dependent_button_class,
              target: '_blank'
            }
          ) do %>
            <i class="icon icon-time"></i> Request Retrieval
          <% end %>

          <%= link_to 'View Details', curation_concern_generic_file_path(generic_file), class: 'btn' %>
        <% end %>

        <%= render partial: '/curation_concern/base/grant_temporary_access', locals: { curation_concern: curation_concern, file: generic_file } %>
      </div>
  </article>
  <% end %>

<% elsif editor %>
  <h2>Files</h2>
  <p><em>This <%= curation_concern.human_readable_type.downcase %> has no files associated with it.
    <br />You must attach at least one file to choose a thumbnail for this <%= curation_concern.human_readable_type.downcase %>.
  </em></p>
<% end %>
<% if editor %>
  <div class="section-actions">
    <%= link_to new_curation_concern_generic_file_path(curation_concern), class: 'btn' do %>
      <i class="icon icon-upload"></i> Attach a File
    <% end %>
  </div>
<% end %>
</section>

