<% content_for :second_row do %>
  <% if curation_concern.respond_to?(:related_works) %>
    <% if curation_concern.related_works.present? %>
      <h2>Related Works</h2>
      <table class="table table-striped <%= dom_class(curation_concern) %> related-to-works with-headroom">
        <caption class="table-heading">
          <p>Works that are related to this <%= curation_concern.human_readable_type %>.</p>
        </caption>
        <thead>
        <tr>
          <th>Work Title</th>
        </tr>
        </thead>
        <tbody>
        <% curation_concern.related_works.each do |related_work| %>
          <tr class="referenced_by_works attributes">
            <td class="attribute title"><%= link_to related_work.title, common_object_path(related_work) %></td>
          </tr>
        <% end %>
        </tbody>
      </table>
    <% end %>

    <% if can? :edit, curation_concern %>
      <% unless curation_concern.related_works.present? %>
        <h2>Related Works</h2>
      <% end %>
      <p>Add works that are related to this <%= curation_concern.human_readable_type %>.</p>
      <%= form_for [:curation_concern, curation_concern], method: :patch, html: {class: "edit-related-works"} do |f| %>
        <%# NOTE: You can't use a url builder to create the query URL because it will escape it; the JavaScript is already doing this %>
        <%= f.text_field :related_work_tokens, class:"autocomplete tokens", data: { url: "#{catalog_index_path}?f[generic_type_sim][]=Work", load: curation_concern.related_works_for_data_load, exclude: "[#{curation_concern.pid.inspect}]" } %>
        <%= f.submit "Update Related Works", class: 'btn btn-default' %>
      <% end %>
    <% end %>
  <% end %>

  <% if curation_concern.respond_to?(:referenced_by_works) && curation_concern.referenced_by_works.present? %>
    <table class="table table-striped <%= dom_class(curation_concern) %> referenced-by-works with-headroom">
      <caption class="table-heading">
        <h2>Referenced by</h2>
        <p>Works that list this one in as being related to them.</p>
      </caption>
        <thead>
        <tr>
          <th>Work Title</th>
        </tr>
        </thead>
        <tbody>
        <% curation_concern.referenced_by_works.each do |related_work| %>
          <tr class="referenced_by_works attributes">
            <td class="attribute title"><%= link_to related_work.title, common_object_path(related_work) %></td>
          </tr>
        <% end %>
        </tbody>
    </table>
  <% end %>
<% end %>
