<% if work.representative.present? %>
  <% if work.try(:generic_files) || work.class == GenericFile %>
    <% if can?(:read, generic_file) %>

      <% if generic_file.pdf? || generic_file.video? %>
        <a href="<%=download_path(work.representative) %>" target = "_blank">
          <%= image_tag download_path(generic_file, datastream_id: 'thumbnail'), class: 'representative_image' %>
        </a>
      <!-- all other image types -->
      <% else %>
        <a href="<%= download_path(work.representative) %>" target = "_blank">
          <%= image_tag download_path(work.representative,'thumbnail'), class: 'representative_image' %>
        </a>
      <% end %>
    <% else %> <!-- else no permission, image doesn't include link -->
      <%= image_tag download_path(work.representative,'thumbnail'), class: 'representative_image' %>
    <% end %>

  <% else %> <!-- else work doesn't respond to generic file (aka collections) -->
    <a href="<%= download_path(work.representative) %>" target = "_blank">
      <%= image_tag download_path(work.representative,'thumbnail'), class: 'representative_image' %>
    </a>
  <% end %>

<!-- else no representative -->
<% else %>
  <%= image_tag 'curate/default.png', class: "canonical-image" %>
<% end %>
