<% if work.representative.present? %>
  <% work.check_and_clear_representative %>
  <% if work.try(:generic_files) || work.class == GenericFile %>
    <% if can?(:read, generic_file) && generic_file.image? %>
      <a href="<%= download_path(work.representative) %>" class="colorbox-image">
        <%= image_tag download_path(generic_file, datastream_id: 'thumbnail'), class: 'representative_image' %>
      </a>
    <% elsif can?(:read, generic_file) && (generic_file.pdf? || generic_file.video?) %>
      <a href="<%=download_path(work.representative) %>" target = "_blank">
        <%= image_tag download_path(generic_file, datastream_id: 'thumbnail'), class: 'representative_image' %>
      </a>
    <% else %>
      <a href="<%= download_path(work.representative) %>" target = "_blank">
        <%= image_tag download_path(work.representative,'thumbnail'), class: 'representative_image' %>
      </a>
    <% end %>
  <% else %>
    <a href="<%= download_path(work.representative) %>" target = "_blank">
      <%= image_tag download_path(work.representative,'thumbnail'), class: 'representative_image' %>
    </a>
  <% end %>
<% else %>
  <%= image_tag 'curate/default.png', class: "canonical-image" %>
<% end %>
