<% content_for :page_title, "#{application_name} Search Results" %>
<% content_for :page_class, 'search' %>
<% content_for :sidebar do %>

  <%= render 'facets' %>

<% end %>

<% if has_search_parameters? %>
  <p class="search-constraint-notice">You searched for:</p>
  <div class="search-constraints">
    <%= render_constraints(params) %>
    <%= link_to 'Clear All', catalog_index_path, class: 'btn btn-danger clear-filters' %>
  </div>

  <%= render :partial => 'did_you_mean' %>

  <div class="row sort-and-per-page">
    <%= render 'choose_result_format' %>
    <%= render 'sort_and_per_page' %>
  </div>

<%= render 'document_list' %>

<%= render 'results_pagination' %>

<% else %>

  <%= render 'choose_result_format' %>
  <%= render 'results_pagination' %>

  <%= render 'document_list' %>

  <%= render 'results_pagination' %>

<% end %>
