<% content_for :page_title, "#{application_name} Search Results" %>
<% content_for :page_class, 'search' %>
<% content_for :page_header do %>
  <div class="navbar">
    <div class="navbar-inner">
      <ul class="nav">
        <%= type_tab 'Works', 'Work' %>
        <%= type_tab 'Collections', 'Collection' %>
        <%= type_tab 'People', 'Person' %>
        <%= all_type_tab %>
      </ul>
    </div>
  </div>
<% end %>
<% content_for :sidebar do %>

  <%= render 'facets' %>

<% end %>

<% if has_search_parameters? %>
  <div class="alert alert-info search-constraints">
    <i class="icon-search icon-large"></i>
    You searched for: &nbsp;
      <%= render_constraints(params) %>
    <div>
      <%= link_to( "New Search", catalog_index_path, :class => 'btn btn-primary' ) %>

    </div>
    <div class="clear-break">&nbsp;</div>
  </div>

  <%= render :partial => 'did_you_mean' %>

  <div class="row" id="sort-and-per-page">
    <%= render 'sort_and_per_page' %>
  </div>



<%= render 'document_list' %>

<%= render 'results_pagination' %>

<% else %>

  <% if current_user %>

    <%= render 'results_pagination' %>

    <%= render 'document_list' %>

    <%= render 'results_pagination' %>

  <% else %>
    <%= render 'home' %>
  <% end %>

<% end %>
