<% label ||= 'Members' %>
<div class="form-group required link-users" id="members">
  <div class="row">
    <div class="col-sm-6">
      <span class="control-label">
        <label class="required" for="<%=f.object_name.downcase%>_members_attributes_0_name">
          <h2><%= label %></h2>
          <p><%= I18n.t('curate.group.members') %></p>
        </label>
      </span>
    </div>
  </div>
  <div class="controls">
    <% prefix = f.object_name.downcase %>

    <script id="entry-template" type="text/x-handlebars-template">
      <% mem_val = [['Member', '0'], ['Owner', "{{value}}"]] %>
      <li class="field-wrapper input-group">
        <div class="row">
          <div class="col-sm-3 text-center">
            <%= select_tag "group_member[edit_users_ids][]", options_for_select(mem_val, ''), prompt: 'Make a Selection', class: 'input-xlarge' %>
          </div>
          <div class="col-sm-3">
            <input class="input-xlarge autocomplete-users" id="<%=prefix %>_members_attributes_{{index}}_name" name="<%=prefix %>[members_attributes][{{index}}][name]" type="text" value="" />
            <span class="field-controls">
              <button class="btn btn-success add">
                <i class="icon-white icon-plus"></i>
                <span>Add</span>
              </button>
            </span>
          </div>
        </div>
      </li>
    </script>
    <script id="existing-user-template" type="text/x-handlebars-template">
      <li class="field-wrapper input-group">
        <div class="row">
          <div class="col-sm-3 text-center">
            <%= select_tag "group_member[edit_users_ids][]", options_for_select(mem_val, selected: @group.owner?("{{value}}")), prompt: 'Make a Selection', class: 'input-xlarge' %>
          </div>
          <div class="col-sm-3">
            <span class="linked-user">
              {{label}}
            </span>
            <input type="hidden" name="<%=prefix %>[members_attributes][{{index}}][id]" value="{{value}}" data-attribute-key="id">
            <input type="hidden" name="<%=prefix %>[members_attributes][{{index}}][_new]" value="true" data-attribute-key="_new">
            <input type="hidden" name="<%=prefix %>[members_attributes][{{index}}][name]" value="{{name}}" data-attribute-key="name">
            <span class="field-controls">
              <button class="btn btn-danger remove">
                <i class="icon-white icon-minus"></i>
                <span>Remove</span>
              </button>
            </span>
          </div>
        </div>
      </li>
    </script>

    <ul class="listing">
      <% if !@group.nil? && @group.members != [] %>
        <%= f.fields_for :members do |memberField| %>
        <li class="field-wrapper input-group">
          <div class="row">
            <%= memberField.hidden_field :id %>
            <%= memberField.hidden_field :_destroy, data: { "attribute-key" => "_destroy" }  %>
            <div class="col-sm-3 text-center">
              <% mem_val = [['Member', '0'], ['Owner', memberField.object.pid]] %>
              <label class="checkbox inline-checkbox">
                <% if memberField.object.persisted? %>
                  <% if ( @group.edit_users.include?(memberField.object.user_key) && ( @group.edit_users.size == 1 ) ) %>
                    <%= select_tag "group_member[edit_users_ids][]", options_for_select(mem_val, selected: @group.owner?(memberField.object)), class: 'input-xlarge', disabled: true %>
                    <%= hidden_field_tag "group_member[edit_users_ids][]", memberField.object.pid %>
                  <% else %>
                    <%= select_tag "group_member[edit_users_ids][]", options_for_select(mem_val, selected: @group.owner?(memberField.object)), class: 'input-xlarge' %>
                  <% end %>
                <% else %>
                  <%= select_tag "group_member[edit_users_ids][]", options_for_select(mem_val), prompt: 'Make a Selection', class: 'input-xlarge' %>
                <% end %>
              </label>
            </div>
            <div class="col-sm-3">
              <% if memberField.object.persisted? %>
                <% nameLabel = memberField.object.name.present? ? memberField.object.name : memberField.object.user.username %>
                <% if ( @group.edit_users.include?(memberField.object.user_key) && @group.edit_users.size == 1 ) %>
                  <span class="linked-user current-user"><%= nameLabel %></span>
                <% else %>
                  <span class="linked-user"><%= nameLabel  %></span>
                <% end %>
                <% unless ( @group.edit_users.include?(memberField.object.user_key) && @group.edit_users.size == 1 ) %>
                  <span class="field-controls"></span>
                <% end %>
              <% else %>
                <%= memberField.text_field :name, class: 'input-xlarge autocomplete-users', 'data-url' => people_path, required: memberField.index == 0  %>
                <span class="field-controls"></span>
              <% end %>
            </div>
          </div>
        </li>
        <% end %>
      <% end %>
    </ul>
  </div>
</div>
