<% content_for :page_title do %>
  Administrative Functions // CurateND
<% end %>
<% content_for :page_header do %>
  <h1>Administrative Functions</h1>
<% end %>

<p class="lead"><%= link_to 'Account Management', admin_accounts_path %></p>
<p class="lead"><%= link_to 'Site-Wide Announcements', admin_announcements_path %></p>
<p class="lead"><%= link_to 'Application Exceptions', admin_harbinger_path %></p>
<p class="lead"><%= link_to 'Resque Queue', admin_resque_server_path %></p>
<p class="lead"><%= link_to 'Grant Temporary File Access (ETD Manager Only)', admin_temporary_access_tokens_path %></p>
