<%= simple_form_for [:curation_concern, curation_concern], :html => { :onsubmit => "return validateCurationConcernForm(this);", "data-model-name" => curation_concern.class.model_name.singular } do |f| %>
<% if request.filtered_parameters["action"] == "edit" %>
  <% multiple_allowed = false %>
  <% file_is_required = false %>
<% else %>
  <% multiple_allowed = true %>
  <% file_is_required = true %>
<% end %>

  <div class="row">
    <div class="span6">
      <fieldset class="required">
        <legend>
          <%= curation_concern.persisted? ? "Update Your File" : "Attach Your File" %>
          <% if parent.preferred_file_format.present? %>
            <small><%= parent.preferred_file_format %> is preferred.</small>
          <% end %>
        </legend>
          <% button_label = curation_concern.persisted? ? "Upload new version" : "Upload files" %>
          <%= f.input :file,
                      as: :file,
                      input_html: {multiple: multiple_allowed},
                      label: button_label,
                      required: file_is_required
          %>
      </fieldset>
      <% if curation_concern.persisted? %>
        <fieldset class="optional prompt">
          <%= f.input :filename, input_html: { class: 'input-xlarge'} %>
          <%= f.input :description, input_html: { class: 'input-xxlarge'}  %>
        </fieldset>
      <% end %>
    </div>

    <div class="span6">
      <%= render "form_permission", curation_concern: curation_concern, f: f %>
    </div>
  </div>

  <div class="row">
    <div class="span12 form-actions">
      <%= f.submit(
        (curation_concern.persisted? ? "Update Attached File" : %(Attach to #{parent.human_readable_type})),
        class: 'btn btn-primary'
      ) %>
      <%= link_to 'Cancel', common_object_path(parent), class: 'btn btn-link' %>
    </div>
  </div>
<% end %>
