<% content_for :page_title, curation_concern_page_title(curation_concern) %>
<% content_for :page_header do %>
  <h1><p>
    <%- if can?(:read, curation_concern) %>
      <%= link_to curation_concern.title, download_path(curation_concern) %>
    <% else %>
      <%= curation_concern.title %>
    <% end %>
  <p></h1>
  <span class="human-readable-type">File</span>
<% end %>
<% content_for :page_actions do %>
  <%- if can?(:read, curation_concern) %>
    <%= link_to 'Download', download_path(curation_concern), class: 'btn' %>
  <% end %>

  <% if can?(:edit, curation_concern) %>
    <%= actions_for_edit_button(curation_concern) %>
    <%= link_to(
      versions_curation_concern_generic_file_path(curation_concern),
      {
        class: 'btn',
        title: 'Rollback to previous version'
      }
    ) do %>
      <i class="icon icon-repeat flip-icon"></i> Rollback
    <% end %>
  <% end %>

  <% if can?(:destroy, curation_concern) %>
    <%
      file_name = curation_concern.title
      delete_confirmation_message = %Q{
Deleting #{file_name} from #{t('sufia.product_name')} is a permanent action.

Click OK to remove #{file_name} from #{t('sufia.product_name')}, or Cancel to abort this operation.
    } %>
    <%= link_to(
      polymorphic_path([:curation_concern, curation_concern]),
      {
        class: 'btn',
        method: :delete,
        title: "Delete #{file_name}",
        data: {
          confirm: delete_confirmation_message
        }
      }
    ) do %>
      <i class="icon icon-trash"></i> Delete
    <% end %>
  <% end %>
<% end %>

<% if curation_concern.with_empty_content? %>
  <%= render 'empty_file', curation_concern: curation_concern, parent: parent %>
<% else %>
  <div class="row">
    <div class="work-representation span3">
      <%= render partial: '/application/thumbnail', locals: { thumbnail: curation_concern, width: 'full', href: download_path(curation_concern.noid) } %>
    </div>
    <div class="work-attributes span9">
      <%= render 'attributes', curation_concern: curation_concern, show_characterization:true %>
    </div>
  </div>
<% end %>

