<footer class="page-footer container">
  <div class="row">
    <div class="span8 footer-left">
      <p>
        CurateND is a service of the <a href="http://library.nd.edu">Hesburgh Libraries of Notre Dame</a>.
      </p>
      <p>
        Questions? Call <a href="tel:5746316258">(574) 631-6258</a>
        or email <%= mail_to('curate@nd.edu', 'curate@nd.edu', subject: 'Questions about CurateND') %>.
      </p>
      <p>
        <%= link_to 'Help', new_help_request_path, class: 'help-report-a-problem request-help btn btn-default' %>
      </p>
      <p>
        <a href="http://www.nd.edu/copyright/">Copyright</a> <%= Time.now.year %> <a href="http://www.nd.edu">University of Notre Dame</a>
      </p>

      <!-- Build: <%= Rails.configuration.build_identifier %> -->
    </div>

    <div class="span4 footer-right">
      <a href="http://library.nd.edu"> <%= image_tag('hesburgh-mark.png', class: "hesburgh-logo", alt: "University of Notre Dame Hesburgh Libraries", title: "Hesburgh Libraries") %></a>
    </div>
  </div>
</footer>
