<div class="page-footer-wrapper">
  <footer class="page-footer container">
    <div class="row">
      <div class="col-sm-8 footer-left">
        <p>
          CurateND is a service of the <a href="http://library.nd.edu">Hesburgh Libraries of Notre Dame</a>.
        </p>
        <p>
          Questions? Contact the CurateND Support team at <%= mail_to('curate@nd.edu', 'curate@nd.edu', subject: 'Questions about CurateND') %>.
        </p>
        <p>
          <%= link_to 'Help', new_help_request_path, class: 'help-report-a-problem request-help btn btn-default' %>
        </p>
        <p>
          <a href="http://www.nd.edu/copyright/">Copyright</a> &copy; <%= Time.now.year %> <a href="http://www.nd.edu">University of Notre Dame</a>
        </p>

        <!-- Build: <%= Rails.configuration.build_identifier %> -->
      </div>

      <div class="col-sm-4 footer-right">
        <div>
          <% image_to_use = (controller_name == "static_pages" && action_name == "home") ? "hesburgh-mark-white.png" : "hesburgh-mark-blue.png" %>
          <%= link_to image_tag(image_to_use, alt: "University of Notre Dame Hesburgh Libraries", class: "hesburgh-mark"), "http://library.nd.edu" %>
        </div>
      </div>
    </div>
  </footer>
</div>
