<%# This is a search result view %>
<%# render partial: 'catalog/document', locals: {document: patent, document_counter: patent_counter } %>

<%# This is a search result view %>
<% solr_doc = patent.inner_object.solr_doc %>
<li id="document_<%= patent.noid %>" class="search-result">

  <%= render :partial => 'catalog/_index_partials/identifier_and_action', locals: {document: patent, counter: patent_counter, solr_doc: solr_doc} %>

  <div class="row">

    <div class="col-sm-2">
      <%= render :partial => 'catalog/_index_partials/thumbnail_display', locals: {document: patent} %>
    </div>

    <div class="col-sm-10">
      <dl class="attribute-list">
        <% if solr_doc.has?('desc_metadata__creator_tesim') %>
          <dt>Inventor(s):</dt>
          <dd><%= render_index_field_value(document: solr_doc, field: 'desc_metadata__creator_tesim') %></dd>
        <% end %>
        <% if solr_doc.has?('desc_metadata__patent_number_tesim') %>
          <dt>Patent Number:</dt>
          <dd><%= render_index_field_value(document: solr_doc, field: 'desc_metadata__patent_number_tesim') %></dd>
        <% end %>
        <% if solr_doc.has?('desc_metadata__description_tesim') %>
          <dt>Description:</dt>
          <dd class="readmore"><%= escape_html_for_solr_text(truncate(render_index_field_value(document: solr_doc, field: 'desc_metadata__description_tesim'), length: 500)).html_safe %></dd>
        <% end %>
        <% if solr_doc.has?('desc_metadata__date_issued_tesim') %>
          <dt>Date Issued:</dt>
          <dd><%= render_index_field_value(document: solr_doc, field: 'desc_metadata__date_issued_tesim') %></dd>
        <% end %>
        <dt>Record Visibility: </dt>
        <dd><%= AccessRenderer.new(nil, solr_doc).badge(show_date: false) %></dd>
      </dl>

      <dl class="attribute-list extended-attributes hide">
        <% index_fields.each do |solr_fname, field| -%>
          <% if should_render_index_field? patent.inner_object.solr_doc, field %>
            <dt class="blacklight-<%= solr_fname.parameterize %>"><%= render_index_field_label :field => solr_fname %></dt>
            <dd class="blacklight-<%= solr_fname.parameterize %>"><%= render_index_field_value :document=>patent.inner_object.solr_doc, :field => solr_fname %></dd>
          <% end -%>
        <% end -%>
      </dl>

    </div>

  </div>

</li>
