<% content_for :page_title, curation_concern_page_title(curation_concern) %>

<% content_for :page_header do %>
  <h1><%= richly_formatted_text(curation_concern.to_s, title: true) %></h1>
  <span class="human-readable-type"><%= curation_concern.human_readable_type %></span>
<% end %>

<% content_for :page_actions do %>
  <% if display_citation_generation? %>
    <%= link_to 'Generate Citation', citation_path(curation_concern) , class: 'btn citation-modal-js' %>
  <% end %>
  <% if can?(:edit, curation_concern) %>
    <%= link_to edit_polymorphic_path([:curation_concern, curation_concern]), class: 'btn' do %>
      <i class="icon icon-pencil"></i> Edit
    <% end %>
  <% end %>
  <% if RepoManager.with_active_privileges?(current_user) %>
    <%= link_to 'Reindex this Item', admin_reindex_pid_path(curation_concern.id) , class: 'btn btn-primary' %>
  <% end %>
<% end %>

<% details = capture do %>
  <%= render 'attributes', curation_concern: curation_concern %>
  <%= render 'related_files', curation_concern: curation_concern, with_actions: true %>
  <%= render 'related_works', curation_concern: curation_concern, with_actions: true %>
  <%= render 'collections', curation_concern: curation_concern %>
<% end %>

<% if curation_concern.representative.present? %>
  <%= render partial: 'curation_concern/base/iiif_image_viewer', locals: { work: curation_concern, details: details } %>
<% else %>
  <div class="work-attributes">
    <%= details %>
  </div>
<% end %>
