<% content_for :layout_name, 'common_objects, ' %>
<% content_for :body do %>

  <%= render 'shared/header' %>

  <div id="main" role="main" class="page-main container <%= yield(:page_class) if content_for?(:page_class)%>">
    <% if content_for?(:page_header) %>
      <div class="row">
      <% if content_for?(:page_actions) %>
        <div class="col-sm-12 main-header-with-actions">
          <div class="main-header">
            <%= yield(:page_header) %>
          </div>
          <div class="page-actions">
            <%= yield(:page_actions) %>
          </div>
        </div>
      <% else %>
        <div class="col-sm-12 main-header ">
          <%= yield(:page_header) %>
        </div>
      <% end %>
      </div>
    <% end %>
    <div class="row">
      <div class="<%= content_for?(:main_column_class) ? yield(:main_column_class) : "col-sm-12" %>">
        <%= yield %>
      </div>
    </div>
    <% if content_for?(:second_row) %>
      <div class="row">
        <div class="col-sm-12">
          <%= yield(:second_row) %>
        </div>
      </div>
    <% end %>
  </div>

  <%= render 'footer' %>

<% end %>

<%= render :template => 'layouts/boilerplate' %>
