<% content_for :layout_name, 'curate_nd, ' %>
<% content_for :body do %>

<%= render 'shared/header' %>

  <div id="main" role="main" class="page-main container <%= yield(:page_class) if content_for?(:page_class)%>">
  <% if content_for?(:page_header) %>
    <div class="row">
    <% if content_for?(:page_actions) %>
      <div class="col-sm-12 main-header-with-actions">
        <div class="main-header">
          <%= yield(:page_header) %>
        </div>
        <div class="page-actions">
          <%= yield(:page_actions) %>
        </div>
      </div>
    <% else %>
      <div class="col-sm-12 main-header ">
        <%= yield(:page_header) %>
      </div>
    <% end %>
    </div>
  <% end %>

    <%= content_for?(:main) ? yield(:main) : yield %>
  </div>

  <%= render 'footer' %>

  <%# Rendering the user's preferred name for use in some JavaScript actions %>
  <span class="hidden user-display-name">
    <% if current_user && current_user.name.present? %>
      <%= current_user.name %>
    <% else %>
      Anonymous
    <% end %>
  </span>
<% end %>

<%= render :template => 'layouts/boilerplate' %>
