<% content_for :layout_name, 'curate_nd_catalog, ' %>
<% content_for :body do %>
<header role="banner" class="catalog page-banner">
  <div class="brand-bar-wrapper">
    <%= render 'shared/brand_bar' %>
  </div>
  <div class="title-bar-wrapper">
    <%= render partial: 'catalog/title_bar' %>
  </div>
</header>


<main id="main" role="main" class="page-main container <%= yield :page_main_class %>">
  <div class="row">
  <% if content_for?(:sidebar) %>

    <div class="span3 sidebar">
      <%= yield(:sidebar) %>
    </div>

    <% if content_for?(:call_to_action) %>
      <div class="span6 <%= yield(:content_class) %>">
    <% else %>
      <div class="span9 <%= yield(:content_class) %>">
    <% end %>
      <%= yield %>
    </div>

    <% if content_for?(:call_to_action) %>

    <div class="span3 call-to-action">
      <%= yield(:call_to_action) %>
    </div>

    <% end %>

  <% else %>

    <div class="span12">
      <%= yield %>
    </div>

  <% end %>
  </div>

</main>

<%= render 'footer' %>

<% end %>

<%= render :template => 'layouts/boilerplate' %>
